{% extends "foreign/foreign_base.html" %}
{% block contents %}

   
    <div style="width:750px;">
        <div class="d-flex justify-content-between ">
            <div class="d-flex align-items-center ">
                <h1>{{question.away_university}}</h1>
                <span>QnA</span>
                <a href="{% url "country:country_wiki" univ.country.pk%}"><h3>{{univ.country}}</h3></a>
            </div>
            <button class="btn btn-sm btn-border" onclick="location.href='{% url "foreign:question_create" univ.pk %}'"> 글쓰기 </button>
        </div>
        <hr>
        <div>
            <div class="d-flex justify-content-between">
                <h4>{{ question.question_title }}</h4>
                <p>작성자: {{ question.author.nickname}} 작성 시간: {{ question.created_at }}</p>
            </div>
            <p>
            {{ question.question_content }}
            </p>
            <div class="d-flex justify-content-end">
                {% if question.author == user %}
                <button onclick="location.href='{% url "foreign:question_delete" univ.pk question.pk %}'"> 삭제 </button>
                <button onclick="location.href='{% url "foreign:question_edit" univ.pk question.pk %}'"> 수정 </button>
                {% endif %}
                <button onclick="location.href='{% url "foreign:question_list" univ.pk %}'"> 목록 </button>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <h4>답변</h4>
                <button onclick="location.href='{% url "foreign:q_comment_create" univ.pk question.pk %}'">답변 달기</button>
            </div>
            {% for comment in question.fcomment_set.all %}
                <div class="d-flex justify-content-between">
                    <div>
                        <h5>{{ comment.comment_author.nickname }}</h5> 
                        {{ comment.comment_content }}
                        
                    </div>
                    <div>
                        {{ comment.created_at }}
                        <button onclick="location.href='{% url "foreign:q_comment_edit" univ.pk comment.pk%}'"> 수정  </button>
                        <button onclick="location.href='{% url "foreign:q_comment_delete" univ.pk comment.pk%}'"> 삭제</button>
                    </div>
                </div>
                <div class="undercomment_list_{{ comment.pk }}">
                    {% for undercomment in undercomments  %}
                        {% if undercomment.comment == comment %}
                        <div class="d-flex justify-content-between" id="undercomment_{{ undercomment.pk }}">
                            <div>
                                <span>👉 {{ undercomment.comment_author.nickname }}</span>
                                <span style="margin-left: 30px;">{{ undercomment.comment_content }}</span>
                            </div>
                            
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="undercomment_{{ comment.pk }}"></div>
            {% endfor %}
            <hr>
            <form action ="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="저장하기"/>
                <a href="{% url 'foreign:question_detail' univ.pk question.pk %}" class="btn btn-primary btn-sm">취소</a>
            </form>
            </div>
    </div>


{% endblock %}