{% extends "foreign/foreign_base.html" %}

{% block contents %}
<div style="width:750px;">
    <div class="d-flex align-items-center ">
        <h1>{{univ.away_name}}</h1>
        <span>자매 결연 대학</span>
        <a href="{% url "country:country_wiki" univ.country.pk%}"><h3>{{univ.country}}</h3></a>
    </div>
    <a href="{% url "foreign:create_sister" univ.pk%}">학교 추가</a>
    <hr>
    <div>
        학교명
        <form  action ="" method="POST"  enctype="multipart/form-data">
        <select name="sister">
            {% for domestic_univ in domestic_univs %}
            <option>{{domestic_univ.home_name}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-outline-danger"> 추가 </button>
        </form>
    </div>

</div>
{% endblock %}
