{% extends "foreign/foreign_base.html" %}

{% block contents %}
<div class="containter category-detail">
    <div class="d-flex justify-content-between align-items-end">
        <div class="d-flex align-items-end">
            <h3>{{univ.away_name}}</h3>
            <a class="country-btn dark-button" href="{% url "country:country_wiki" univ.country.pk%}">{{univ.country}}</a>
        </div>
        <button class="btn btn-sm btn-border btn-primary" onclick="location.href='{% url "foreign:create_sister" univ.pk %}'">학교 추가</button>
    </div>
    <hr>
    <div>
        학교명
        <form  action ="" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <select name="sister">
            {% for domestic_univ in domestic_univs %}
                <option>{{ domestic_univ.home_name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-outline-danger"> 추가 </button>
        </form>
    </div>

</div>
{% endblock %}
