{% extends "base.html" %}
{% block style %}
<script src="https://kit.fontawesome.com/67d418f4de.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content%}
    <div class="d-flex">
        <div class="sidebar">
            <div class="sidebar__text">
                <h3><a href="{% url 'foreign:sister' univ.pk %}">자매 결연 대학</a></h3>
                <h3 class=""><a href="{% url 'foreign:wiki' univ.pk %}">위키</a></h3>
                    <h4><a href="{% url 'foreign:wiki' univ.pk %}#foreign_1">파견로의 지원방법</a></h4>
                    <h4><a href="{% url 'foreign:wiki' univ.pk %}#foreign_2">필요 어학 점수</a></h4>
                    <h4><a href="{% url 'foreign:wiki' univ.pk %}#foreign_3">수강신청방법</a></h4>
                    <h4><a href="{% url 'foreign:wiki' univ.pk %}#foreign_4">기숙사 정보</a></h4>
                    <h4><a href="{% url 'foreign:wiki' univ.pk %}#foreign_5">학교 분위기</a></h4>
                    <h4><a href="{% url 'foreign:wiki' univ.pk %}#foreign_6">동아리</a></h4>
                    <h4><a href="{% url 'foreign:wiki' univ.pk %}#foreign_7">장학금</a></h4>
                <h3><a href="{% url 'foreign:question_list' univ.pk %}">QnA</a></h3>
                <h3><a href="{% url 'foreign:review_list' univ.pk %}">파견교 후기 공유</a></h3>
            </div>
        </div>
        
        <div class="contents d-flex flex-row justify-content-end">
            {% block contents %}
            {% endblock %}
            <div style="margin-left: 50px; margin-top: 50px;">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2153488758273914"
                crossorigin="anonymous"></script>
                <!-- Vertical -->
                <ins class="adsbygoogle"
                    style="display:inline-block;width:150px;height:500px"
                    data-ad-client="ca-pub-2153488758273914"
                    data-ad-slot="8947820764"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script>
        var url = window.location.pathname;
        $('.sidebar__text').find('a').each(function() {
            $(this).parent().toggleClass('sidebar__selected', $(this).attr('href') == url);
        });
        
    </script>
{%endblock%}
