{% extends "foreign/foreign_base.html" %}
{% block contents %}
{% if type != 'update' or IsQuestionAuthor == True %}
    <div style="width:750px;">
        <div class="d-flex justify-content-between ">
            <h1>{{univ.away_name}}</h1>
            <span>QnA</span>
            <a href="{% url "country:country_wiki" univ.country.pk%}"><h3>{{univ.country}}</h3></a>
            <button class="btn btn-sm btn-border" onclick="canIPost('{{ user.is_authenticated }}')"> 글쓰기 </button>
        </div>
        <hr>
        <form action ="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <div class="d-flex justify-content-end"><input type="submit" value="저장하기"/></div>
        </form>
    </div>
{%else%}
    <script>
             alert('이 게시글은 작성자만 수정 가능합니다.');
            window.location.href='{% url "foreign:question_list" univ.pk  %}';
    </script>
{%endif%}

{% endblock %}