{%extends "foreign/foreign_base.html"%}
{%block content%}
        <div class="container">
            <div class="col-sm-12">
                <form action="" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <table class="table table-bordered">
                        {% if request.user == review.post_author or type == 'create' %}
                        {{form.as_table}}
                        {% endif %}
                    </table>
                    <input type="submit" value="저장하기" class="btn btn-primary" />
                </form>
            </div>
        </div>
{%endblock%}