{%extends "foreign/foreign_base.html"%}
{%block contents%}
<div style="width:750px;">
    <div class="d-flex justify-content-between ">
        <div class="d-flex align-items-center ">
            <h1>{{univ.away_name}}</h1>
            <span>파견교 후기 공유</span>
            <a href="{% url "country:country_wiki" univ.country.pk%}"><h3>{{univ.country}}</h3></a>
        </div>
        </div>
        <hr>

        <div class="container">
            <div class="col-sm-12">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        {% if request.user == review.post_author or type == 'create' %}
                        {{form.as_table}}
                        {% endif %}
                    </table>
                    <input type="submit" value="저장하기" class="btn btn-primary" />
                </form>
            </div>
        </div>

</div>
{%endblock%}