{%extends "foreign/foreign_base.html"%}
{%block contents%}
<div style="width:750px;">
    <div class="d-flex justify-content-between ">
        <div class="d-flex align-items-center ">
            <h1>{{univ.away_name}}</h1>
            <span>파견교 후기 공유</span>
            <a href="{% url "country:country_wiki" univ.country.pk%}"><h3>{{univ.country}}</h3></a>
        </div>
</div>
<hr>
<p>작성자:{{review.post_author.nickname}}</p>
<p>제목: {{review.title}}</p>
<p>파견학기: {{review.away_year}}-{{review.away_semester}}</p>
<p>날짜: {{review.created_at}}</p>
<p>내용:
     
    {% if review.image %}
    <div><img src="{{review.image.url}}" style="width:700px"/></div>
    {% endif %}
    {{review.content}}</p>
{% if IsReviewAuthor %}
<form action="{% url "foreign:review_delete" univ.pk review.pk %}" method="post" class="ReviewDeleteForm" style="  display: inline; background: transparent">
    {% csrf_token %}
    <button onclick="return confirm('정말 삭제하시겠습니까?')" type="submit" >삭제</button>
</form>
<a href="{% url "foreign:review_update" univ.pk review.pk%}">수정</a>
{% endif %}
<a href="{% url "foreign:review_list" univ.pk %}">목록</a>
<hr>
<p>댓글</p>
<div class="post_{{review.id}} post">
{%if all_comment %}
{%for comment in all_comment %}
<div class="comment_{{comment.id}} d-flex justify-content-between">
    {{comment.comment_author.nickname}} &#160; &#160; 
    {{comment.comment_content}}
    <div>
    {% if request.user == comment.comment_author %}
    <button class="btn btn-outline-secondary update " onclick="EditComment({{comment.id}} ,'{{comment.comment_content}}')">수정</button>
    <button class="btn btn-outline-secondary delete " onclick="onClickDelete({{comment.id}} )">삭제</button>
    {%endif%}
    <button id='recomment' onclick="recommentPlus('{{comment.pk}}')">댓글</button><br/>
    </div>
</div>
<div class="recomment_list_{{ comment.pk }}">
    {% for recomment in recomments  %}
        {% if recomment.comment == comment %}
        <div class="d-flex justify-content-between" id="recomment_{{ recomment.pk }}">
            <div>
                <span>👉 {{ recomment.comment_author.nickname }}</span>
                <span style="margin-left: 30px;">{{ recomment.comment_content }}</span>
            </div>
            {% if recomment.comment_author == request.user %}
            <div>
                <button onclick="editReComment('{{ comment.pk }}', '{{ recomment.pk }}','{{ recomment.comment_content }}')">수정</button>
                <button onclick="onClickDeleteUnder('{{ recomment.pk }}')">삭제</button>
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</div>
<div class="recomment_{{ comment.pk }}"></div>
{%endfor%}
{%endif%}
</div>

<form action="./comment_create/" method="POST">
    {% csrf_token %}
    <input type="text" name="comment_content" id="comment_{{review.id}}" placeholder='댓글달기...' style="width: 80%;"/>
    <div class="btn btn-outline-dark submit" onclick="onClickComment('{{user.is_authenticated}}',{{review.id}}, document.querySelector('#comment_{{review.id}}').value)">
        submit
    </div>
</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
        const onClickComment= async(is_authenticated,post_id, comment_content) => {  
        console.log(is_authenticated)
            if (is_authenticated == 'False') {
                alert('로그인이 필요한 서비스입니다.');
                window.location.href='{% url "login:login" %}';
        }else{
        const url = './comment_create/';
        const res= await fetch(url,{        
            method: 'POST',
            headers:{
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: JSON.stringify({is_authenticated:is_authenticated,post_id:post_id,comment_content:comment_content})
        }); 
    
        const {post_id:id,comment_content:content,comment_id:c_id}= await res.json();        
        commentHandleResponse(id,content,c_id);
    }
    };

    const commentHandleResponse=(post_id,comment_content,comment_id) => {
        const element=document.querySelector(`.post_${post_id}`)
        const newDiv = document.createElement('div')
        newDiv.className = `comment_${comment_id} d-flex justify-content-between`;
        newDiv.innerHTML = `
        {{request.user.nickname}} &#160; &#160; ${comment_content}
        <div>
        <button class="btn btn-outline-secondary update " onclick="EditComment(${comment_id} ,'${comment_content}')">수정</button>
        <div class="btn btn-outline-secondary delete" onclick="onClickDelete(${comment_id})">삭제</div>
        </div>`
        element.appendChild(newDiv)
        //댓글 입력창 비워주기
        const input_content = document.querySelector(`#comment_${post_id}`)
        input_content.value = null
    }
    
    //댓글 수정
    const EditComment = (comment_id,comment_content)=>{
        const element = document.querySelector(`.comment_${comment_id}`);
        element.innerHTML = ` 
            <input type="text" id="edit_comment" value=${comment_content} class="w-75"/>
            <button class="btn btn-sm btn-outline-dark" onclick="onClickUpdate('${comment_id}', document.querySelector('#edit_comment').value)">수정</button>
            `

    }
    const onClickUpdate= async(comment_id,comment_content) => { 
        const allowance =  confirm('수정하시겠습니까?'); 
        if (allowance == true) {
        const url = './comment_update/';
        const res= await fetch(url,{        
            method: 'POST',
            headers:{
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: JSON.stringify({comment_id:comment_id, comment_content:comment_content})
        }); 
        const {comment_id:id, comment_content:content, nickname:nickname} = await res.json();        
        UpdateHandleResponse(id,content,nickname);
    };
    };

    const UpdateHandleResponse = (comment_id,comment_content,nickname)=>{
        const element = document.querySelector(`.comment_${comment_id}`)
        element.innerHTML = `
        ${nickname} &#160; &#160; 
        ${comment_content}
        <div>
        <button class="btn btn-outline-secondary update " onclick="EditComment(${comment_id} ,'${comment_content}')">수정</button>
        <button class="btn btn-outline-secondary delete " onclick="onClickDelete(${comment_id} )">삭제</button>
        </div>
        `
    }


    //댓글 삭제
    const onClickDelete= async(comment_id) => { 
        const allowance =  confirm('정말로 삭제하시겠습니까?'); 
        if (allowance == true) {
        const url = './comment_delete/';
        const res= await fetch(url,{        
            method: 'POST',
            headers:{
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: JSON.stringify({comment_id:comment_id})
        }); 
        const {comment_id:id} = await res.json();       
        deleteHandleResponse(id);
    };
    };

    const deleteHandleResponse = (comment_id)=>{
    
        const element = document.querySelector(`.comment_${comment_id}`)
        const element_comment = element.closest('.post')
        console.log(element_comment)
        element_comment.removeChild(element)
    }

  //대댓글 생성

  const recommentPlus = (comment_id) => {
        const element = document.querySelector(`.recomment_${comment_id}`);
        const originHTML = element.innerHTML;
            
        element.innerHTML = `
            <input type="text" id="new-recomment" placeholder="댓글을 입력해주세요." class="w-75"/>
            <button class="btn btn-sm btn-outline-dark" onclick="onClickUnderComment('{{is_authenticated}}', ${comment_id}, document.querySelector('#new-recomment').value)">확인</button>
        `
        }
        
        const onClickUnderComment= async(is_authenticated, comment_id, comment_content) => {  
            if (is_authenticated == 'False') {
                    alert('로그인이 필요한 서비스입니다.');
                    window.location.href='{% url "login:login" %}';
            } else {
            const url = './recomment_create/';
            const {data} = await axios.post(url, {
                comment_id,
                comment_content,
            });
            underCommentHandleResponse(data.comment_id, data.recomment_id, data.recomment_author, data.recomment_content);
            }
        };
        const underCommentHandleResponse = (comment_id, recomment_id, recomment_author, recomment_content) => {
                const element = document.querySelector(`.recomment_list_${comment_id}`);
                const newDiv = document.createElement('div')
                newDiv.className = "d-flex justify-content-between";
                newDiv.id = `recomment_${recomment_id}`
                
                newDiv.innerHTML = `
                <div>
                    <span>👉 ${recomment_author}</span>
                    <span style="margin-left: 30px;">${recomment_content}</span>
                </div>
                <div>
                    <button onclick="editReComment('${comment_id}', '${recomment_id}','${recomment_content}')">수정</button>
                    <button onclick="onClickDeleteUnder('${recomment_id}')">삭제</button>
                </div>
                `
                element.appendChild(newDiv)
                const input_content = document.querySelector(`.recomment_${comment_id}`);
                input_content.innerHTML = '';
            };
            
            //대댓글 수정
    const editReComment = (comment_id, recomment_id, recomment_content) => {
        const element = document.querySelector(`.recomment_${comment_id}`);
        const originHTML = element.innerHTML;
            
        element.innerHTML = `
            <input type="text" id="edit-recomment" value=${recomment_content} class="w-75"/>
            <button class="btn btn-sm btn-outline-dark" onclick="onClickEditUnder('${comment_id}', '${recomment_id}', document.querySelector('#edit-recomment').value)">수정</button>
        `
    }

    const onClickEditUnder= async(comment_id, recomment_id, comment_content) => {  
        const url = './recomment_update/';
        const {data} = await axios.post(url, {
            comment_id,
            recomment_id,
            comment_content,
        });
        underEditHandleResponse(data.comment_id, data.recomment_id, data.recomment_author, data.recomment_content);
        
    };

    const underEditHandleResponse = (comment_id, recomment_id, recomment_author, recomment_content) => {
        const element = document.querySelector(`#recomment_${recomment_id}`);
        const originHTML = element.innerHTML;

        element.innerHTML = `
        <div>
            <span>👉 ${recomment_author}</span>
            <span style="margin-left: 30px;">${recomment_content}</span>
        </div>
        <div>
            <button onclick="editReComment('${comment_id}', '${recomment_id}','${recomment_content}')">수정</button>
            <button onclick="onClickDeleteUnder('${recomment_id}')">삭제</button>
        </div>
        `
        const editInput = document.querySelector(`.recomment_${comment_id}`);
        editInput.innerHTML = '';
    };

   // 대댓글 삭제

    const onClickDeleteUnder= async(recomment_id) => {
        const allowance =  confirm('정말로 삭제하시겠습니까?');
        if (allowance == true) {
            const url = './recomment_delete/';
        const {data} = await axios.post(url, {
            recomment_id,
        });
        underDeleteHandleResponse(data.recomment_id);
        }
    };

    const underDeleteHandleResponse = (recomment_id) => {
        const element = document.querySelector(`#recomment_${recomment_id}`);

        element.innerHTML = ``;
    };
</script>
{%endblock%}