{%extends "foreign/foreign_base.html"%}
{%block contents%}
<div style="width:750px;">
    <div class="d-flex justify-content-between ">
        <div class="d-flex align-items-center ">
            <h1>{{univ.away_name}}</h1>
            <span>파견교 후기 공유</span>
            <a href="{% url "country:country_wiki" univ.country.pk%}"><h3>{{univ.country}}</h3></a>
        </div>
        <div><a href="{% url "foreign:review_create" foreign_id%}">글쓰기</a></div>
        </div>
        <hr>
        <table>
            <tr align='center'>
                <th width='50'>번호</th>
                <th width='400' >제목</th>
                <th width='100'>파견 학기</th>
                <th width='150'>날짜</th>
            </tr>
            {%for review in page_obj %}
                    <tr>
                        <td class="numbered" align='center'></td>
                        <td><a href="{% url "foreign:review_detail" foreign_id review.pk %}">{{ review.title }}</a></td>
                        <td align="center">{{review.away_year}}-{{review.away_semester}}</td>
                        <td align="center">{{ review.created_at }}</td>
                    </tr>
            {% endfor %}
        </table>
        <div class="Rpagination">
        <span class="Rstep-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{%endblock%}

{% block extra %}
<script>
    function numbering(startnum){
        var init = startnum;
        var td_list = document.querySelectorAll(`.numbered`);
        for(var i=0; i<td_list.length; i++){
            if (i==0){
                init=init+({{ page_obj.number }}-1)*15;
            }
            init++;
            td_list[i].innerHTML= `${init}`;
        }
    }
    numbering(0);
</script>
{% endblock %}