{%extends "foreign/foreign_base.html"%}
{%block contents%}
<div class="container2 category-detail post-content-padding">
    <div class="d-flex justify-content-between align-items-end" ">
        <div class="d-flex align-items-end ">
            <h3>{{univ.away_name}}</h3>
            <a class="dark-button country-btn" href="{% url "country:country_wiki" univ.country.pk%}">{{univ.country}}</a>
        </div>
        <a href="{% url "foreign:review_list" univ.pk %}" class="m-btn light-button" style="text-decoration: none;">목록보기</a>
    </div>
    <hr>
    <div class="review-detail-object">
        <div class="d-flex justify-content-between align-items-end review-detail-top">
            <div>
                <span class="review-detail-title">{{review.title}}</span>
                <span class="review-detail-date">{{review.away_year}} {{review.away_semester}}</span>
                <span style="margin-left: 10px; font-size: 15px;">조회수 : {{ review.hits }}</span>
            </div>
            <div>
                {% if IsReviewAuthor %}
                <button class="light-button m-btn" onclick="location.href='{% url "foreign:review_update" univ.pk review.pk%}' ">수정</button>
                    <form action="{% url "foreign:review_delete" univ.pk review.pk %}" method="post" class="ReviewDeleteForm" style="  display: inline; background: transparent">
                        {% csrf_token %}
                        <button class="light-button  m-btn post-button" onclick="return confirm('정말 삭제하시겠습니까?')" type="submit" >삭제</button>
                    </form>
                {% else %}
                <form method="post" id="scrap">
                    {% csrf_token %}
                    <button class="light-button m-btn" onclick="onClickScrap({{ review.pk }})" type="submit">스크랩</button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="review-detail-mid">
            <span class="review-detail-name">{{review.post_author.nickname}}</span>
            <span class="review-detail-date">{{review.created_at|date:"Y.m.d"}}</span>
        </div>
        {{review.content | safe}}
    </div>

    <hr class="review-detail-hr">

    <div class="post_{{review.id}} post">   
        {%if all_comment %}
        {%for comment in all_comment %}
        <div>
            <div class="post-comment-padding">
                <div class="comment_{{comment.id}} d-flex justify-content-between">
                    <div>
                        <span class="post-author">{{ comment.comment_author.nickname }}</span>
                        <span class="comment-date">{{ comment.created_at|date:"Y.m.d" }} </span>
                    </div>
                    <div>
                        {% if request.user == comment.comment_author %}
                        <button class="light-button s-btn update" onclick="EditComment({{comment.id}} ,'{{comment.comment_content}}')">수정</button>
                        <button class="light-button s-btn post-button delete" onclick="onClickDelete({{comment.id}} )">삭제</button>
                        {%endif%}
                        <button class="light-button s-btn post-button" id='recomment' onclick="recommentPlus('{{comment.pk}}')">댓글</button><br/>
                    </div>
                </div>
                <span class="comment-content">{{ comment.comment_content }}</span>
            </div>
            <div class="recomment_list_{{ comment.pk }}">
                {% for recomment in recomments  %}
                    {% if recomment.comment == comment %}
                    <div class="undercomment-container d-flex justify-content-between " id="recomment_{{ recomment.pk }}">
                        <div>
                            <img src="/static/css/img/undercomment.png" style="margin-right:10px;" alt="대댓글">
                            <span class="post-author">{{ recomment.comment_author.nickname }}</span>
                            <span class="comment-content">{{ recomment.comment_content }}</span>
                        </div>
                        {% if recomment.comment_author == request.user %}
                        <div>
                            <button class="light-button s-btn update" onclick="editReComment('{{ comment.pk }}', '{{ recomment.pk }}','{{ recomment.comment_content }}')">수정</button>
                            <button class="light-button s-btn post-button delete" onclick="onClickDeleteUnder('{{ recomment.pk }}')">삭제</button>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="d-flex align-items-center recomment_{{ comment.pk }}"></div>
        </div>
        {%endfor%}
        {%endif%}
    </div>

    <div class="d-flex justify-content-between align-items-end">
        {% csrf_token %}
        <input class="new-comment-input flex-grow-1" type="text" name="comment_content" id="comment_{{review.id}}" placeholder='답변 달기...' style="width: 80%;"/>
        <div class="blue-button s-btn post-button submit" type="submit" class="blue-button s-btn post-button submit" onclick="onClickComment('{{user.is_authenticated}}',{{review.id}}, document.querySelector('#comment_{{review.id}}').value)">등록</div>
        <!-- 이유는 모르겠으나 위의 버튼이 div,span가 아닌 button,input이면 오류가 남,,, -->
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
        const onClickComment= async(is_authenticated,post_id, comment_content) => {  
        console.log(is_authenticated)
            if (is_authenticated == 'False') {
                alert('로그인이 필요한 서비스입니다.');
                window.location.href='{% url "login:login" %}';
        }else{
        const url = './comment_create/';
        const res= await fetch(url,{        
            method: 'POST',
            headers:{
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: JSON.stringify({is_authenticated:is_authenticated,post_id:post_id,comment_content:comment_content})
        }); 
    
        const {post_id:id,comment_content:content,comment_id:c_id}= await res.json();        
        commentHandleResponse(id,content,c_id);
    }
    };

    const commentHandleResponse=(post_id,comment_content,comment_id,now) => {
        const element=document.querySelector(`.post_${post_id}`)
        const newDiv = document.createElement('div')
        newDiv.innerHTML = `
        <div class='post-comment-padding'>
            <div class="comment_${comment_id} d-flex justify-content-between">
                <div>
                    <span class="post-author">{{ request.user.nickname }}</span>
                    <span class="comment-date">{{ now|date:"Y.m.d" }} </span>
                </div>
                <div>
                    <button class="s-btn light-button update" onclick="EditComment(${comment_id} ,'${comment_content}')">수정</button>
                    <button class="s-btn light-button  post-button delete" onclick="onClickDelete(${comment_id} )">삭제</button>
                    <button class="s-btn light-button  post-button " id='recomment' onclick="recommentPlus(${comment_id})">댓글</button><br/>
                </div>
            </div>
            <span class="comment-content">${ comment_content }</span>
        </div>
        <div class="recomment_list_${ comment_id }"></div>
        <div class="recomment_${ comment_id }"></div>

        `
        element.appendChild(newDiv)
        //댓글 입력창 비워주기
        const input_content = document.querySelector(`#comment_${post_id}`)
        input_content.value = null
    }
    
    //댓글 수정
    const EditComment = (comment_id,comment_content)=>{
        const element = document.querySelector(`.comment_${comment_id}`);
        element.parentNode.innerHTML= ` 
            <div class="comment_${comment_id} d-flex justify-content-between">
                <div>
                    <span class="post-author">{{request.user.nickname}}</span>
                    <span class="comment-date">{{ now|date:"Y.m.d" }} </span>
                </div>
                <button class="blue-button s-btn post-button" onclick="onClickUpdate('${comment_id}', document.querySelector('#edit_comment').value)">저장</button>
            </div>
            <input type="text" class="edit-comment-input" id="edit_comment" value=${comment_content} />
            `

    }
    const onClickUpdate= async(comment_id,comment_content) => { 
        const allowance =  confirm('수정하시겠습니까?'); 
        if (allowance == true) {
        const url = './comment_update/';
        const res= await fetch(url,{        
            method: 'POST',
            headers:{
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: JSON.stringify({comment_id:comment_id, comment_content:comment_content})
        }); 
        const {comment_id:id, comment_content:content, nickname:nickname} = await res.json();        
        UpdateHandleResponse(id,content,nickname);
    };
    };

    const UpdateHandleResponse = (comment_id,comment_content,nickname)=>{
        const element = document.querySelector(`.comment_${comment_id}`)
        element.nextElementSibling.remove();     <!--input창 없애기-->
        element.parentNode.innerHTML = `
        <div class="comment_${comment_id} d-flex justify-content-between">
            <div>
                <span class="post-author">${nickname}</span>
                <span class="comment-date">{{ now|date:"Y.m.d" }} </span>
            </div>
            <div>
                <button class="light-button s-btn update " onclick="EditComment(${comment_id} ,'${comment_content}')">수정</button>
                <button class="light-button s-btn post-button delete " onclick="onClickDelete(${comment_id} )">삭제</button>
                <button class="light-button s-btn post-button" id='recomment' onclick="recommentPlus('${comment_id}')">댓글</button><br/>
                
            </div>
        </div>
        <span class="comment-content">${comment_content}</span>
        `
    }


    //댓글 삭제
    const onClickDelete= async(comment_id) => { 
        const allowance =  confirm('정말로 삭제하시겠습니까?'); 
        if (allowance == true) {
        const url = './comment_delete/';
        const res= await fetch(url,{        
            method: 'POST',
            headers:{
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: JSON.stringify({comment_id:comment_id})
        }); 
        const {comment_id:id} = await res.json();       
        deleteHandleResponse(id);
    };
    };

    const deleteHandleResponse = (comment_id)=>{
    
        const element = document.querySelector(`.comment_${comment_id}`)
        element.parentNode.parentNode.innerHTML=''
        const recomment = document.querySelector(`.recomment_list_${ comment_id }`)
        if(recomment){
        recomment.innerHTML=''
        }
    }

  //대댓글 생성

  const recommentPlus = (comment_id) => {
        const element = document.querySelector(`.recomment_${comment_id}`);
        const RecommentInput = document.createElement('div');
        RecommentInput.className = 'post-reinput-margin';
        RecommentInput.innerHTML = `
            <img src="/static/css/img/undercomment.png" style="margin-right:10px;" alt="대댓글">
            <span class="post-author">{{ request.user.nickname }}</span>
            <input class="new-undercomment-input flex-grow-1" type="text" id="new-recomment" placeholder="댓글 달기..." class="w-75"/>
            <button class="blue-button s-btn post-button" onclick="onClickUnderComment('{{is_authenticated}}', ${comment_id}, document.querySelector('#new-recomment').value)">등록</button>
        `
        element.appendChild(RecommentInput);
        }
        
        const onClickUnderComment= async(is_authenticated, comment_id, comment_content) => {  
            if (is_authenticated == 'False') {
                    alert('로그인이 필요한 서비스입니다.');
                    window.location.href='{% url "login:login" %}';
            } else {
            const url = './recomment_create/';
            const {data} = await axios.post(url, {
                comment_id,
                comment_content,
            });
            underCommentHandleResponse(data.comment_id, data.recomment_id, data.recomment_author, data.recomment_content);
            }
        };
        const underCommentHandleResponse = (comment_id, recomment_id, recomment_author, recomment_content) => {
                const element = document.querySelector(`.recomment_list_${comment_id}`);
                const newDiv = document.createElement('div')
                newDiv.className = "undercomment-container d-flex justify-content-between";
                newDiv.id = `recomment_${recomment_id}`
                newDiv.innerHTML = `
                <div>
                    <img src="/static/css/img/undercomment.png" style="margin-right:10px;" alt="대댓글">
                    <span class="post-author">${recomment_author}</span>
                    <span class="comment-content"">${recomment_content}</span>
                </div>
                <div>
                    <button class="s-btn light-button update" onclick="editReComment('${comment_id}', '${recomment_id}','${recomment_content}')">수정</button>
                    <button class="s-btn light-button delete post-button" onclick="onClickDeleteUnder('${recomment_id}')">삭제</button>
                </div>
                `
                element.appendChild(newDiv)
                const input_content = document.querySelector(`.recomment_${comment_id}`);
                input_content.innerHTML = '';
            };
            
            //대댓글 수정
    const editReComment = (comment_id, recomment_id, recomment_content) => {
        const element = document.querySelector(`#recomment_${recomment_id}`);
        element.innerHTML = `
        <div class="undercomment-container d-flex align-items-center post-reinput-margin">
            <img src="/static/css/img/undercomment.png" alt="대댓글">
            <span class="post-author">{{ request.user.nickname }}</span>
            <input class="new-undercomment-input flex-grow-1 " type="text" id="edit-undercomment" value='${recomment_content}' />
            <button class="blue-button s-btn post-button" onclick="onClickEditUnder('${comment_id}', '${recomment_id}', document.querySelector('#edit-undercomment').value)">저장</button>
        </div>
        `
    }

    const onClickEditUnder= async(comment_id, recomment_id, comment_content) => {  
        const url = './recomment_update/';
        const {data} = await axios.post(url, {
            comment_id,
            recomment_id,
            comment_content,
        });
        underEditHandleResponse(data.comment_id, data.recomment_id, data.recomment_author, data.recomment_content);
        
    };

    const underEditHandleResponse = (comment_id, recomment_id, recomment_author, recomment_content) => {
        const element = document.querySelector(`#recomment_${recomment_id}`);
        element.innerHTML = `
            <div>
                <img src="/static/css/img/undercomment.png" style="margin-right:10px;" alt="대댓글">
                <span class="post-author">{{ request.user.nickname }}</span>
                <span class="comment-content flex-grow-1">${recomment_content}</span>
            </div>
            <div>
                <button class="s-btn light-button update" onclick="editReComment('${comment_id}', '${recomment_id}','${recomment_content}')">수정</button>
                <button class="s-btn light-button delete post-button" onclick="onClickDeleteUnder('${recomment_id}')">삭제</button>
            </div>
        `
        const editInput = document.querySelector(`.recomment_${comment_id}`);
        editInput.innerHTML = '';
    };

   // 대댓글 삭제

    const onClickDeleteUnder= async(recomment_id) => {
        const allowance =  confirm('정말로 삭제하시겠습니까?');
        if (allowance == true) {
            const url = './recomment_delete/';
        const {data} = await axios.post(url, {
            recomment_id,
        });
        underDeleteHandleResponse(data.recomment_id);
        }
    };

    const underDeleteHandleResponse = (recomment_id) => {
        const element = document.querySelector(`#recomment_${recomment_id}`);
        const ajaxRecomment = document.querySelector(`.recomment_${recomment_id}`);
        if(element){
        element.remove();
        }
        if(ajaxRecomment){
        ajaxRecomment.remove();
        }
    };

    // 스크랩 기능
    const requestScraping = new XMLHttpRequest();

        const onClickScrap = (content) => {
            const url = './scrap/';
            requestScraping.open('POST', url, true);
            requestScraping.setRequestHeader(
                'Content-Type',
                'application/x-www-form-urlencoded'
            );
            requestScraping.send(JSON.stringify({content: content}));
        };

        const scrapHandleResponse = () => {
            if (requestScraping.status < 400) {
                alert('스크랩이 완료되었습니다!')
                const element = document.querySelector('#scrap');
                const originHTML = element.innerHTML;
                    
                element.innerHTML = `
                    <button class="light-button m-btn" onclick="onClickScrap({{ review.pk }})" type="submit">스크랩 완료</button>
                `
            };
        };

        requestScraping.onreadystatechange = () => {
            if (requestScraping.readyState === XMLHttpRequest.DONE) {
                scrapHandleResponse();
            };
        };
</script>
{%endblock%}