{% extends "foreign/foreign_base.html" %}

{% block contents %}
<div class="container2 category-detail">
    <div class="d-flex justify-content-between align-items-end">
        <div class="d-flex align-items-end ">
            <h3>{{univ.away_name}}</h3>
            <a class="dark-button country-btn" href="{% url "country:country_wiki" univ.country.pk%}">{{univ.country}}</a>
        </div>
        <button class="light-button create-btn md-btn" onclick="location.href='{% url "foreign:create_sister" univ.pk %}'">학교추가</button>
    </div>
    <hr>
    <div class="lbar d-flex align-items-center">
        <div class="cho_list lforeign_list d-flex justify-content-around text-center ">
        {% for key, val in sisters_dict.items %}
            <a id="{{ key }}" href="#{{ key }}_list" class="cho list-unactive" onclick="clickAlpha('{{key}}')">{{ key }}</a>
        {% endfor %}
        </div>
    </div>
    <div>
        {% for key, val in sisters_dict.items %}
            <ul class="lgroup ">
                <p id="{{ key }}_list" class="lalpha">{{ key }}</p>
                <div class="lforeign_name ">
                {% for sister in val %}
                <a href="{% url "domestic:wiki" sister.pk %}">{{sister.home_name}}</a>
                {% endfor %}
            </div>
            </ul>
            <br>
        {% endfor %}
    </div>

</div>


{% endblock %}
{% block extra %}
<script>
    const clickAlpha = (key)=>{
        var topKey = document.querySelectorAll('.lforeign_list a');
        for(i=0;i<topKey.length;i++){
            topKey[i].className="list-unactive";  /*초기화*/
            var element = topKey[i].innerHTML;
            var midKey = document.querySelector(`#${element}_list`);
                midKey.className = "lalpha";
            if(key == topKey[i].innerHTML){
                topKey[i].className="list-active";
                midKey = document.querySelector(`#${key}_list`);
                midKey.className = "lalpha-active";
            };
        };
    };
</script>
{% endblock %}