{%extends "foreign/foreign_base.html"%}
{%block content%}
<div style="width:750px;">
    <div class="d-flex justify-content-between ">
        <div class="d-flex align-items-center ">
            <h1>{{univ.away_name}}</h1>
            <span>위키</span>
            <h3>{{univ.country}}</h3>
        </div>
    </div>

    <div>
        <div>
            <p>1.파견로의 지원방법</p>
            <pre>{{univ.away_apply}}</pre>                              <!--textarea에 입력한대로 보여주는 pre tag-->
            <div><a href="{% url "foreign:wiki_edit_apply" univ.pk %}">수정</a></div>
            <div>
                <p>2.필요 어학 점수</p>
                <pre>{{univ.language_score}}</pre>
                <div><a href="{% url "foreign:wiki_edit_language_score" univ.pk %}">수정</a></div>
            </div>
            <div>
                <p>3.수강신청방법</p>
                <pre>{{univ.course_enroll}}</pre>
                <div><a href="{% url "foreign:wiki_edit_course_enroll" univ.pk %}">수정</a></div>
            </div>
            <div>
                <p>4.기숙사 정보</p>
                <pre>{{univ.accommodation}}</pre>
                <div><a href="{% url "foreign:wiki_edit_accommodation" univ.pk %}">수정</a></div>
            </div>
            <div>
                <p>5.학교 분위기</p>
                <pre>{{univ.atmosphere}}</pre>
                <div><a href="{% url "foreign:wiki_edit_atmosphere" univ.pk %}">수정</a></div>
            </div>
            <div>
                <p>6.동아리</p>
                <pre>{{univ.club}}</pre>
                <div><a href="{% url "foreign:wiki_edit_club" univ.pk %}">수정</a></div>
            </div>
            <div>
                <p>7.장학금</p>
                <pre>{{univ.away_scholarship}}</pre>
                <div><a href="{% url "foreign:wiki_edit_away_scholarship" univ.pk %}">수정</a></div>
            </div>
        </div>
    </div>
</div>

{%endblock%}