{%extends "foreign/foreign_base.html"%}
{%block contents%}
<div class="container2 category-detail">
    <div class="d-flex justify-content-between align-items-end">
        <div class="d-flex align-items-end ">
            <h3>{{univ.away_name}}</h3>
            <a class="dark-button country-btn" href="{% url "country:country_wiki" univ.country.pk%}">{{univ.country}}</a>
        </div>
    </div>
    <hr>
    <div>
        <div>
            <p>1. 파견로의 지원방법</p>
            <pre>{{univ.away_apply}}</pre>  <!--textarea에 입력한대로 보여주는 pre tag-->
            <button class="light-button m-btn" onclick="Edit('{{ user.is_authenticated }}','apply')">수정</button>
            <div>
                <p>2. 필요 어학 점수</p>
                <pre>{{univ.language_score}}</pre>
                <button class="btn btn-primary btn-sm" onclick="Edit('{{ user.is_authenticated }}','language_score')">수정</button>
            </div>
            <div>
                <p>3. 수강신청방법</p>
                <pre>{{univ.course_enroll}}</pre>
                <button class="btn btn-primary btn-sm" onclick="Edit('{{ user.is_authenticated }}','course_enroll')">수정</button>
            </div>
            <div>
                <p>4. 기숙사 정보</p>
                <pre>{{univ.accommodation}}</pre>
                <button class="btn btn-primary btn-sm" onclick="Edit('{{ user.is_authenticated }}','accommodation')">수정</button>
            </div>
            <div>
                <p>5. 학교 분위기</p>
                <pre>{{univ.atmosphere}}</pre>
                <button class="btn btn-primary btn-sm" onclick="Edit('{{ user.is_authenticated }}','atmosphere')">수정</button>
            </div>
            <div>
                <p>6. 동아리</p>
                <pre>{{univ.club}}</pre>
                <button class="btn btn-primary btn-sm" onclick="Edit('{{ user.is_authenticated }}','club')">수정</button>
            </div>
            <div>
                <p>7. 장학금</p>
                <pre>{{univ.away_scholarship}}</pre>
                <button class="btn btn-primary btn-sm" onclick="Edit('{{ user.is_authenticated }}','away_scholarship')">수정</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Edit(is_authenticated,str){
    if(is_authenticated == 'False') {
            alert('로그인이 필요한 서비스입니다.');
            window.location.href='{% url "login:login" %}';
        }else{
           
            var view=`/foreign/wiki/edit_${str}/`           //url 연결
        
            window.location.href=view+'{{univ.pk}}'

        }
    }
</script>
{%endblock%}