{%extends "foreign/foreign_base.html"%}
{%block contents%}
<div style="width:750px;">
    <div class="d-flex justify-content-between ">
        <div class="d-flex align-items-center ">
            <h1>{{univ.away_name}}</h1>
            <span>위키</span>
            <a href="{% url "country:country_wiki" univ.country.pk%}"><h3>{{univ.country}}</h3></a>
        </div>
    </div>

    <hr>
        <form action="" method="POST" enctype="multipart/form-data" class="table">
            {% csrf_token %}
            {% for field in form %}
            {% if btn == forloop.counter%}
            {%if field.name == 'away_apply'%} <p>1.파견로의 지원방법</p>  {%endif%}
            {%if field.name == 'language_score'%}<p>2.필요 어학 점수</p>   {%endif%}
            {%if field.name == 'course_enroll'%} <p>3.수강신청방법</p>  {%endif%}
            {%if field.name == 'accommodation'%} <p> 4.기숙사 정보</p> {%endif%}
            {%if field.name == 'atmosphere'%} <p>5.학교 분위기</p> {%endif%}
            {%if field.name == 'club'%}  <p>6.동아리</p> {%endif%}
            {%if field.name == 'away_scholarship'%} <p>7.장학금</p> {%endif%}
            
            
            <div class="form-group">
                <textarea type="{{ field.field.widget.textarea_type }}" class="form-control"
                    id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" 	cols = "100" rows="20" >{{field.value}}</textarea>
            </div>
            <input type="submit" value="저장하기" />
            {% else %}
            <div class="form-group">
                <textarea type="{{ field.field.widget.textarea_type }}" class="form-control "
                    id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" readonly style="display:none" cols = "100" rows="20" >{{field.value}}</textarea>
            </div>
          
            {%endif%}
            {% endfor %}

        </form>

    </div>
    </div>
    </div>
{%endblock%}