{%extends "base.html"%} 
{% block content %}
<div class="lbody">
    <div class="container">
    {% autoescape off %}
    <div class="lbar d-flex align-items-center">
        <div class="lforeign_list d-flex justify-content-around text-center ">
        {% for key, val in countries_dict.items %}
        <a href="#{{ key }}" class="list-unactive" onclick="clickAlpha('{{key}}')">{{ key }}</a>
        {% endfor %}
        </div>
    </div>
    <div>
        {% for key, val in countries_dict.items %}
        <div class="lgroup d-flex">
            <div class="lalpha" id="{{ key }}">{{ key }}</div>
            <div class="lforeign_name ">
            {% for country in val %}
                <a href="{% url 'country:country_wiki' pk=country.pk %}">
                    {{ country.country_name }}
                </a>
            {% endfor %}
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
    {% endautoescape %}
    </div>
</div>
<script>

    const clickAlpha = (key)=>{
        var topKey = document.querySelectorAll('.lforeign_list a');
        for(i=0;i<topKey.length;i++){
            topKey[i].className="list-unactive"    /*초기화*/
            var element = topKey[i].innerHTML;
            var midKey = document.querySelector(`#${element}`)
                midKey.className = "lalpha"
            if(key == topKey[i].innerHTML){
                topKey[i].className="list-active"
                midKey = document.querySelector(`#${key}`)
                midKey.className = "lalpha-active"
            }
        }
    }
    </script>
{% endblock %}