{%extends "country/country_base.html"%} 

{%block contents%}
<div class="container2 category-detail">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <h3>{{country.country_name}}</h3>
    </div>
  </div>

  <hr>

    <div>
        {% for key, val in univ_dict.items %}
        <ul>
            <h5>{{ key }}</h5>
            {% for univ in val %}

            
            <a href="">{{univ.away_name}}</a>

            {% endfor %}
        </ul>
        <br>
        {% endfor %}
    </div>
</div>

{%endblock%}
