{%extends "country/country_base.html"%} 
{% block contents %}

    
    <div class="container2 category-detail">
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex align-items-center">
                <h3>{{ country.country_name }}</h3>
            </div>
            <div class="d-flex align-items-center" style="height: 28px">
                <form class="d-flex justify-content-center" action="{% url 'country:question_search' country.pk %}" method="post">
                    {% csrf_token %}
                    <input class="" placeholder="검색" name="q" value="{{q}}">
                    <button class="" type="submit">검색</button>
                </form>
                <button class="light-button create-btn sm-btn" onclick="canIPost('{{ is_authenticated }}')"> 글쓰기 </button>
            </div>
        </div>
        <hr>
        <table>
            <tr align='center'>
                <th width='50'>번호</th>
                <th width='600' >제목</th>
                <th>날짜</th>
            </tr>
            {%for question in page_obj %}
            <tr>
                <td class="numbered" align='center'></td>
                <td><a href="{% url "country:question_detail" country_id question.pk %}">{{ question.question_title }}</a></td>
                <td>{{ question.created_at}}</td>
            </tr>
            {% endfor %}
        </table>
        <div style="text-align:center">
            <div class="pagination">
            
                <div style="width:35%; margin: 5px;">
                {% if page_obj.has_previous %}
                    <a class="abutton" href="?page=1">맨 앞으로</a>
                    <a class="abutton" href="?page={{ bpage_obj.previous_page_number }}">이전</a>
                {% endif %}
                </div>

                <div style="width:30%; margin: 5px;">
                {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                    <span class="{% if page == page_obj.number %}current{% endif %}">
                        <a href="?page={{ page }}" {% if page == page_obj.number %}style="font-weight: bold;"{%endif%}>{{ page}}</a>
                        
                    </span>
                    {% elif page >= page_obj.number|add:-3 and page <= page_obj.number|add:3 %}
                        <span>..</span>
                    {% endif %}
                {% endfor %}
                </div>

                <div style="width:35%; margin: 5px;">
                {% if page_obj.has_next %}
                    <a class="abutton" href="?page={{ page_obj.next_page_number }}">다음</a>
                    <a class="abutton" href="?page={{ page_obj.paginator.num_pages }}">맨 뒤로</a>
                {% endif %}
                </div>

            </div>  
        </div>
    </div>

    <script>
        function numbering(startnum){
        var init = startnum;
        var td_list = document.querySelectorAll(`.numbered`);
        for(var i=0; i<td_list.length; i++){
            if (i==0){
                init=init+({{ page_obj.number }}-1)*15;
            }
            init++;
            td_list[i].innerHTML= `${init}`;
        }
    }
    numbering(0);
    
        const canIPost= (is_authenticated)=> {
            if (is_authenticated == 'False') {
                alert('로그인이 필요한 서비스입니다.');
                window.location.href='{% url "login:login" %}';
            }else{
                window.location.href='{% url "country:question_create" country.pk %}';
            }
        };
    
    </script>

{% endblock %}
