{%extends "country/country_base.html"%} 

{%block contents%}
    <div class="container2 category-detail">
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex align-items-center ">
                <h3>{{country.country_name}}</h3>
            </div>
            <button class="light-button create-btn md-btn" onclick="location.href='{% url "country:question_list" country.pk %}'"> 목록보기 </button>        </div>
        <hr>
        <div class="post-header d-flex justify-content-between">
            <span class="post-title">{{ question.question_title }}</span>
            <div class="d-flex justify-content-end">
                {% if question.author.pk == user.pk %}
                <button class="light-button create-btn m-btn " onclick="location.href='{% url "country:question_edit" country.pk question.pk %}'"> 수정 </button>
                <form action="{% url 'country:question_delete' country.pk question.pk %}" method="post" >
                    {% csrf_token %}
                    <button class="light-button create-btn m-btn post-button" onclick="return confirm('정말 삭제하시겠습니까?')" type="submit" >삭제</button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center">
            <span class="post-author" style="margin-right: 15px;">{{ question.author.nickname}}</span> 
            <span class="post-date">{{ question.created_at|date:"Y.m.d" }}</span>
        </div>
        <p class="post-content">{{ question.question_content }}</p>
        <hr class="post-hr" style="margin:none;">
        <div>
            <div class="post_{{ question.id }}">
            {% for comment in comments %}
            <div class="comment_{{ comment.id }} comment-container">
                <div class=" d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="post-author">{{ comment.comment_author.nickname }}</span>
                        <span class="comment-date">{{ comment.created_at|date:"Y.m.d" }} </span>
                    </div>
                    <div>
                        {% if request.user == comment.comment_author %}
                        <button class="light-button create-btn s-btn update " onclick="EditComment('{{ comment.id }}' ,'{{ comment.comment_content }}')">수정</button>
                        <button class="light-button create-btn s-btn post-button delete " onclick="onClickDelete('{{ comment.id }}' )">삭제</button>
                        {% endif %}
                        {% if is_authenticated == True %}
                        <button class="light-button create-btn s-btn post-button" id='undercomment' onclick="undercommentPlus('{{ comment.id }}')">댓글</button><br/>
                        {% endif %}
                    </div>
                </div>
                <p class="comment-content">{{ comment.comment_content }}</p>
            </div>
            <div class="undercomment_list_{{ comment.pk }}">
                {% for undercomment in undercomments  %}
                    {% if undercomment.comment == comment %}
                    <div id="undercomment_{{ undercomment.pk }}">
                        <div class="undercomment-container d-flex justify-content-between align-items-center">
                            <div>
                                <img class="undercomment-icon" src="/static/css/img/undercomment.png" alt="대댓글">
                                <span class="post-author">{{ undercomment.comment_author.nickname }}</span>
                                <p class="comment-content">{{ undercomment.comment_content }}</p>
                            </div>
                            {% if undercomment.comment_author == request.user %}
                            <div>
                                <button class="light-button create-btn s-btn" onclick="editUnderComment('{{ comment.pk }}', '{{ undercomment.pk }}','{{ undercomment.comment_content }}')">수정</button>
                                <button class="light-button create-btn s-btn post-button" onclick="onClickDeleteUnder('{{ undercomment.pk }}')">삭제</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="undercomment_{{ comment.pk }}" ></div>
            {% endfor %}
        </div>
        {% if is_authenticated == True %}
        <div class="new-comment d-flex align-items-center">
            <input class="new-comment-input flex-grow-1" type="text" name="comment_content" id="comment_{{ question.pk }}" placeholder='댓글달기...' style="width: 80%;"/>
            <button class="blue-button create-btn s-btn post-button submit" onclick="onClickComment('{{ user.is_authenticated }}', '{{ question.pk }}', document.querySelector('#comment_{{ question.pk }}').value )">등록</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const onClickComment= async(is_authenticated, question_id, comment_content) => {  
        if (is_authenticated == 'False') {
            alert('로그인이 필요한 서비스입니다.');
            window.location.href='{% url "login:login" %}';
        }else{
            const url = './comment_create/';
            const res= await fetch(url,{        
                method: 'POST',
                headers:{
                'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: JSON.stringify({ is_authenticated:is_authenticated, question_id:question_id, comment_content:comment_content})
            }); 
        
            const {question_id:id, comment_content:content, comment_id:c_id,now:now}= await res.json();        
            commentHandleResponse(id, content, c_id, now);
        };
    };

    const commentHandleResponse=(question_id, comment_content, comment_id, now) => {
        const element=document.querySelector(`.post_${question_id}`);
        element.innerHTML += `
        <div class="comment_${comment_id} comment-container">
            <div class=" d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="post-author">{{request.user.nickname}}</span>
                    <span class="comment-date">{{ now |date:"Y.m.d" }} </span>
                </div>
                <div>
                    <button class="light-button create-btn s-btn update " onclick="EditComment('${comment_id}', '${comment_content}')">수정</button>
                    <button class="light-button create-btn s-btn delete post-button" onclick="onClickDelete('${comment_id}')">삭제</button>
                    <button class="light-button create-btn s-btn post-button" id='undercomment' onclick="undercommentPlus('${comment_id}')">댓글</button><br/>
                </div>
            </div>
            <p class="comment-content">${comment_content}</p>
        </div>
        <div class="undercomment_list_${comment_id}"></div>
        <div class="undercomment_${comment_id}"></div>
        `;
        const input_content = document.querySelector(`#comment_${question_id}`);
        input_content.value = null;
    };
    
    //댓글 수정
    const EditComment = (comment_id,comment_content)=>{
        const element = document.querySelector(`.comment_${comment_id}`);
        element.innerHTML = ` 
            <div class=" d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="post-author">{{request.user.nickname}}</span>
                    <span class="comment-date">{{ now|date:"Y.m.d" }} </span>
                </div>
                <button class="blue-button create-btn s-btn post-button" onclick="onClickUpdate('${comment_id}', document.querySelector('#edit_comment').value)">저장</button>
            </div>
            <input class="edit-comment-input" type="text" id="edit_comment" value='${comment_content}' />
            `;
    };

    const onClickUpdate= async(comment_id,comment_content) => { 
        const allowance =  confirm('수정하시겠습니까?'); 
        if (allowance == true) {
            const url = './comment_update/';
            const res= await fetch(url,{        
                method: 'POST',
                headers:{
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: JSON.stringify({comment_id:comment_id, comment_content:comment_content})
            }); 
            const {comment_id:id, comment_content:content, nickname:nickname} = await res.json();        
            UpdateHandleResponse(id,content,nickname);
        };
    };

    const UpdateHandleResponse = (comment_id,comment_content,nickname)=>{
        const element = document.querySelector(`.comment_${comment_id}`);
        element.innerHTML = `
        <div class=" d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <span class="post-author">${nickname}</span>
                <span class="comment-date">{{ now|date:"Y.m.d" }} </span>
            </div>
            <div>
                <button class="light-button create-btn s-btn update " onclick="EditComment(${comment_id} ,'${comment_content}')">수정</button>
                <button class="light-button create-btn s-btn post-button delete " onclick="onClickDelete(${comment_id} )">삭제</button>
                <button class="light-button create-btn s-btn post-button" id='undercomment' onclick="undercommentPlus('${comment_id}')">댓글</button><br/>
            </div>
        </div>
        <p class="comment-content">${comment_content}</p>
        `;
    };


    //댓글 삭제
    const onClickDelete= async(comment_id) => { 
        const allowance =  confirm('정말로 삭제하시겠습니까?'); 
        if (allowance == true) {
            const url = './comment_delete/';
            const res= await fetch(url,{        
                method: 'POST',
                headers:{
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: JSON.stringify({comment_id:comment_id})
            }); 
            const {comment_id:id} = await res.json();       
            deleteHandleResponse(id);
        };
    };

    const deleteHandleResponse = (comment_id)=>{
        const undercomment = document.querySelector(`.undercomment_list_${comment_id}`);
        undercomment.remove();
        const element = document.querySelector(`.comment_${comment_id}`)
        element.remove();
        const temp = document.querySelector(`.undercomment_${comment_id}`);
        temp.remove();
        
    };

  //대댓글 생성

    const undercommentPlus = (comment_id) => {
        const element = document.querySelector(`.undercomment_${comment_id}`);
        element.innerHTML = `
        <div class="undercomment-container d-flex align-items-center">
            <img src="/static/css/img/undercomment.png" alt="대댓글">
            <span class="post-author">{{ request.user.nickname }}</span>
            <input class="new-undercomment-input flex-grow-1" type="text" id="new-undercomment" placeholder="댓글 달기..."/>
            <button class="blue-button create-btn s-btn post-button" onclick="onClickUnderComment('{{ is_authenticated }}', ${comment_id}, document.querySelector('#new-undercomment').value)">등록</button>
        </div>
            `;
    };
        
    const onClickUnderComment= async(is_authenticated, comment_id, comment_content) => { 
        if (is_authenticated == 'False') {
                alert('로그인이 필요한 서비스입니다.');
                window.location.href='{% url "login:login" %}';
        } else {
            const url = './undercomment_create/';
            const {data} = await axios.post(url, {
                comment_id,
                comment_content,
            });
        underCommentHandleResponse(data.comment_id, data.undercomment_id, data.undercomment_author, data.undercomment_content);
        };
    };

    const underCommentHandleResponse = (comment_id, undercomment_id, undercomment_author, undercomment_content) => {
            const element = document.querySelector(`.undercomment_list_${comment_id}`);
            element.innerHTML += `
            <div id="undercomment_${undercomment_id}">
                <div class="undercomment-container d-flex justify-content-between align-items-center">
                    <div>
                        <img src="/static/css/img/undercomment.png" alt="대댓글">
                        <span class="post-author">${undercomment_author}</span>
                        <p class="comment-content">${undercomment_content}</p>
                    </div>
                    <div>
                        <button class="light-button create-btn s-btn" onclick="editUnderComment('${comment_id}', '${undercomment_id}','${undercomment_content}')">수정</button>
                        <button class="light-button create-btn s-btn post-button" onclick="onClickDeleteUnder('${undercomment_id}')">삭제</button>
                    </div>
                </div>
            </div>
            `
            const input_content = document.querySelector(`.undercomment_${comment_id}`);
            input_content.innerHTML = '';
    };
        
//대댓글 수정
    const editUnderComment = (comment_id, undercomment_id, undercomment_content) => {
        const element = document.querySelector(`#undercomment_${undercomment_id}`);
        const originHTML = element.innerHTML;
        element.innerHTML = `
        <div class="undercomment-container d-flex align-items-center">
            <img src="/static/css/img/undercomment.png" alt="대댓글">
            <span class="post-author">{{ request.user.nickname }}</span>
            <input class="new-undercomment-input flex-grow-1" type="text" id="edit-undercomment" value='${undercomment_content}' />
            <button class="blue-button create-btn s-btn post-button" onclick="onClickEditUnder('${comment_id}', '${undercomment_id}', document.querySelector('#edit-undercomment').value)">저장</button>
        </div>
        `
    };

    const onClickEditUnder= async(comment_id, undercomment_id, comment_content) => {  
        const url = './undercomment_update/';
        const {data} = await axios.post(url, {
            comment_id,
            undercomment_id,
            comment_content,
        });
        underEditHandleResponse(data.comment_id, data.undercomment_id, data.undercomment_author, data.undercomment_content);
        
    };

    const underEditHandleResponse = (comment_id, undercomment_id, undercomment_author, undercomment_content) => {
        const element = document.querySelector(`#undercomment_${undercomment_id}`);
        element.innerHTML = `
            <div class="undercomment-container undercomment-container d-flex justify-content-between align-items-center">
                <div>
                    <img src="/static/css/img/undercomment.png" alt="대댓글">
                    <span class="post-author">{{ request.user.nickname }}</span>
                    <p class="comment-content">${undercomment_content}</p>
                </div>
                <div>
                    <button class="light-button create-btn s-btn" onclick="editUnderComment('${comment_id}', '${undercomment_id}','${undercomment_content}')">수정</button>
                    <button class="light-button create-btn s-btn post-button" onclick="onClickDeleteUnder('${undercomment_id}')">삭제</button>
                </div>
            </div>
        `
    };

   // 대댓글 삭제

    const onClickDeleteUnder= async(undercomment_id) => {
        const allowance =  confirm('정말로 삭제하시겠습니까?');
        if (allowance == true) {
            const url = './undercomment_delete/';
            const {data} = await axios.post(url, {
                undercomment_id,
            });
        underDeleteHandleResponse(data.undercomment_id);
        };
    };

    const underDeleteHandleResponse = (undercomment_id) => {
        const element = document.querySelector(`#undercomment_${undercomment_id}`);
        element.remove();
    };
</script>
{% endblock %}