{%extends "country/country_base.html"%} 
{% block contents %}
    <div class="container2 category-detail post-list">
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex align-items-center">
                <h3>{{ country.country_name }}</h3>
            </div>
            <div class="d-flex align-items-center" style="height: 28px">
                <form class="d-flex justify-content-center" action="{% url 'country:question_search' country.pk %}" method="post">
                    {% csrf_token %}
                    <input class="search-input" placeholder="검색" name="q" value="{{q}}">
                    <button class="search-button" type="submit"><ion-icon name="search"></ion-icon></button>
                </form>
                <button class="light-button create-btn sm-btn" style="margin-left:15px;" onclick="canIPost('{{ is_authenticated }}')"> 글쓰기 </button>
            </div>
        </div>
        <hr>
        <table>
            <tr align='center'>
                <th width='50'>번호</th>
                <th width='880' >제목</th>
                <th width='80'>날짜</th>
            </tr>
            {%for question in page_obj %}
            <tr>
                <td class="numbered" align='center'></td>
                <td><a href="{% url "country:question_detail" country_id question.pk %}">{{ question.question_title }}</a></td>
                <td>{{ question.created_at|date:"Y.m.d" }}</td>
            </tr>
            {% endfor %}
        </table>
        {% if not page_obj %}
        <div class='text-center m-4'>
            <h5 style="margin-bottom: 5px;">등록된 정보가 없습니다</h5>
            <h6>첫 번째로 정보를 등록해주세요!</h6>
        </div>
        {% endif %}
        <div class="pagination d-flex justify-content-center">
            <div>
                {% if page_obj.has_previous %}
                    <a class="abutton" href="?page={{ bpage_obj.previous_page_number }}"><i class="fas fa-chevron-left"></i></a>
                {% else %}
                    <a class="abutton"><i class="fas fa-chevron-left"></i></a>
                {% endif %}
            </div>
            <div class="page-number">
                {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                        <span class="{% if page == page_obj.number %}current{% endif %}">
                            <a class="numbering" href="?page={{ page }}" {% if page == page_obj.number %} style="background-color: var(--blue); color: white;" {%endif%}>{{ page }}</a>
                        </span>
                    {% elif page >= page_obj.number|add:-3 and page <= page_obj.number|add:3 %}
                        <span>..</span>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                {% if page_obj.has_next %}
                    <a class="abutton" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                {% else %}
                    <a class="abutton"><i class="fas fa-chevron-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
    {% block extra %}
    <script>
        function numbering(startnum){
            var init = startnum;
            var td_list = document.querySelectorAll(`.numbered`);
            for(var i=0; i<td_list.length; i++){
                if (i==0){
                    init=init+({{ page_obj.number }}-1)*15;
                };
                init++;
                td_list[i].innerHTML= `${init}`;
            };
        };
        
    
        numbering(0);
    
        const canIPost= (is_authenticated)=> {
            if (is_authenticated == 'False') {
                alert('로그인이 필요한 서비스입니다.');
                window.location.href='{% url "login:login" %}';
            }else{
                window.location.href='{% url "country:question_create" country.pk %}';
            }
        };
    </script>

{% endblock %}
