{%extends "country/country_base.html"%} 

{%block contents%}

<div class="d-flex justify-content-evenly ">
    
    <div style="width:750px;">
        <div class="d-flex justify-content-between ">
            <div class="d-flex align-items-center ">
                <h1>{{country.country_name}}</h1>
                <span>QnA</span>
            </div>
            <button class="btn btn-sm btn-border" onclick="canIPost('{{ is_authenticated }}')"> 글쓰기 </button>
        </div>
        <hr>
        <div>
            <div class="d-flex justify-content-between">
                <h4>{{ question.question_title }}</h4>
                <p>작성자: {{ question.author.nickname }} 작성 시간: {{ question.created_at }}</p>
            </div>
            {{ question.question_content }}
            </p>
            <div class="d-flex justify-content-end">
                {% if question.author == user %}
                    <form action='{% url "country:question_delete" country.pk question.pk %}' method="post">
                        {% csrf_token %}
                        <button onclick="return confirm('정말 삭제하시겠습니까?')" type="submit">삭제</button>
                    </form>
                    <button onclick="location.href='{% url "country:question_edit" country.pk question.pk %}'"> 수정 </button>
                {% endif %}
                <button onclick="location.href='{% url "country:question_list" country.pk %}'"> 목록 </button>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <h4>답변</h4>
                <button onclick="canIAnswer('{{ is_authenticated }}')">답변 달기</button>
            </div>
            {% for comment in comments %}
                <div class="d-flex justify-content-between">
                    <div>
                        <h5>{{ comment.comment_author.nickname }}</h5> 
                        {{ comment.comment_content }}
                    </div>
                    <div class="d-flex align-items-center">
                        {{ comment.created_at }}
                        {% if comment.comment_author == user %}
                            <form action='{% url "country:comment_delete" country.pk comment.pk %}' method="post">
                                {% csrf_token %}
                                <button onclick="return confirm('정말 삭제하시겠습니까?')" type="submit">삭제</button>
                            </form>
                            <button onclick="location.href='{% url "country:comment_edit" country.pk comment.pk %}'"> 수정  </button>
                        {% endif %}
                        <button id='undercomment' onclick="commentPlus('{{comment.pk}}')">댓글</button><br/>
                    </div>
                </div>
                <div class="undercomment_list_{{ comment.pk }}">
                    {% for undercomment in undercomments  %}
                        {% if undercomment.comment == comment %}
                        <div class="d-flex justify-content-between" id="undercomment_{{ undercomment.pk }}">
                            <div>
                                <span>👉 {{ undercomment.comment_author.nickname }}</span>
                                <span style="margin-left: 30px;">{{ undercomment.comment_content }}</span>
                            </div>
                            {% if undercomment.comment_author == request.user %}
                            <div>
                                <button onclick="editComment('{{ comment.pk }}', '{{ undercomment.pk }}','{{ undercomment.comment_content }}')">수정</button>
                                <button onclick="onClickDeleteUnder('{{ undercomment.pk }}')">삭제</button>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="undercomment_{{ comment.pk }}"></div>
            {% endfor %}
            </div>
    </div>
</div>
<script>
    const canIPost= (is_authenticated)=> {
        if (is_authenticated == 'False') {
            alert('로그인이 필요한 서비스입니다.');
            window.location.href='{% url "login:login" %}';
        }else{
            window.location.href='{% url "country:question_create" country.pk %}';
        }
    };

    const canIAnswer= (is_authenticated)=> {
        if (is_authenticated == 'False') {
            alert('로그인이 필요한 서비스입니다.');
            window.location.href='{% url "login:login" %}';
        }else{
            window.location.href='{% url "country:comment_create" country.pk question.pk %}';
        }
    };
    
</script>

{%endblock%}

{% block extra %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // 대댓글 생성

    const commentPlus = (comment_id) => {
        const element = document.querySelector(`.undercomment_${comment_id}`);
        const originHTML = element.innerHTML;
            
        element.innerHTML = `
            <input type="text" id="new-undercomment" placeholder="댓글을 입력해주세요." class="w-75"/>
            <button class="btn btn-sm btn-outline-dark" onclick="onClickUnderComment('{{is_authenticated}}', ${comment_id}, document.querySelector('#new-undercomment').value)">확인</button>
        `
    }
    
    const onClickUnderComment= async(is_authenticated, comment_id, comment_content) => {  
        if (is_authenticated == 'False') {
                alert('로그인이 필요한 서비스입니다.');
                window.location.href='{% url "login:login" %}';
        } else {
        const url = './undercomment_create/';
        const {data} = await axios.post(url, {
            comment_id,
            comment_content,
        });
        underCommentHandleResponse(data.comment_id, data.undercomment_id, data.undercomment_author, data.undercomment_content);
        }
    };

    const underCommentHandleResponse = (comment_id, undercomment_id, undercomment_author, undercomment_content) => {
            const element = document.querySelector(`.undercomment_list_${comment_id}`);
            const newDiv = document.createElement('div')
            newDiv.className = "d-flex justify-content-between";
            newDiv.id = `undercomment_${undercomment_id}`
            
            newDiv.innerHTML = `
            <div>
                <span>👉 ${undercomment_author}</span>
                <span style="margin-left: 30px;">${undercomment_content}</span>
            </div>
            <div>
                <button onclick="editComment('${comment_id}', '${undercomment_id}','${undercomment_content}')">수정</button>
                <button onclick="onClickDeleteUnder('${undercomment_id}')">삭제</button>
            </div>
            `
            element.appendChild(newDiv)
            const input_content = document.querySelector(`.undercomment_${comment_id}`);
            input_content.innerHTML = '';
        };

    // 대댓글 수정

    const editComment = (comment_id, undercomment_id, undercomment_content) => {
        const element = document.querySelector(`.undercomment_${comment_id}`);
        const originHTML = element.innerHTML;
            
        element.innerHTML = `
            <input type="text" id="edit-undercomment" value=${undercomment_content} class="w-75"/>
            <button class="btn btn-sm btn-outline-dark" onclick="onClickEditUnder('${comment_id}', '${undercomment_id}', document.querySelector('#edit-undercomment').value)">수정</button>
        `
    }

    const onClickEditUnder= async(comment_id, undercomment_id, comment_content) => {  
        const url = './undercomment_update/';
        const {data} = await axios.post(url, {
            comment_id,
            undercomment_id,
            comment_content,
        });
        underEditHandleResponse(data.comment_id, data.undercomment_id, data.undercomment_author, data.undercomment_content);
        
    };

    const underEditHandleResponse = (comment_id, undercomment_id, undercomment_author, undercomment_content) => {
        const element = document.querySelector(`#undercomment_${undercomment_id}`);
        const originHTML = element.innerHTML;

        element.innerHTML = `
        <div>
            <span>👉 ${undercomment_author}</span>
            <span style="margin-left: 30px;">${undercomment_content}</span>
        </div>
        <div>
            <button onclick="editComment('${comment_id}', '${undercomment_id}','${undercomment_content}')">수정</button>
            <button onclick="onClickDeleteUnder('${undercomment_id}')">삭제</button>
        </div>
        `
        const editInput = document.querySelector(`.undercomment_${comment_id}`);
        editInput.innerHTML = '';
    };
    
    // 대댓글 삭제

    const onClickDeleteUnder= async(undercomment_id) => {
        const allowance =  confirm('정말로 삭제하시겠습니까?');
        if (allowance == true) {
            const url = './undercomment_delete/';
        const {data} = await axios.post(url, {
            undercomment_id,
        });
        underDeleteHandleResponse(data.undercomment_id);
        }
    };

    const underDeleteHandleResponse = (undercomment_id) => {
        const element = document.querySelector(`#undercomment_${undercomment_id}`);

        element.innerHTML = ``;
    };
</script>
{% endblock %}