{% extends "domestic/domestic_base.html" %}
{% block contents %}
    <div class="container category-detail">
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex align-items-center ">
                <h3>{{ domestic.home_name }}</h3>
            </div>
            <input class="blue-button create-btn md-btn" form="frm" type="submit" value="저장하기"/>
        </div>
        <hr>
        <form id="frm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
{% endblock %}

{% block extra %}
    {% if message %}
        <script>
            alert("{{ message }}")
        </script>
    {% endif %}
{% endblock %}