{% extends "domestic/domestic_base.html" %}
{% block contents %}
    <div style="width:750px;">
        <div class="d-flex justify-content-between ">
            <div class="d-flex align-items-center ">
                <h1>{{ domestic.home_name }}</h1>
                <span>파견교별 학점컷</span>
            </div>
            <button class="btn btn-sm btn-border" onclick="canIpost('{{ is_authenticated }}','{{ is_enrolled }}')"> 내 점수 등록 </button>
        </div>
        <hr>
        <form class="d-flex justify-content-center" action="{% url 'domestic:credit_search' domestic.pk %}" method="post">
            {% csrf_token %}
            <select name="filter" value="{{ filter }}">
                <option>단과대학</option>
                <option>합격여부</option>
            </select>
            <input class="col-9" placeholder="검색" name="q" value="{{q}}">
            <button class="btn btn-outline-success" type="submit">검색</button>
        </form>
        {% if page_obj %}
        <table>
            <tr align='center'>
                <th width='150'>단과대학</th>
                <th width='150'>이수학점</th>
                <th width='150'>평점평균</th>
                <th width='150'>지원시기</th>
                <th width='150'>지원학교</th>
                <th width='150'>합격여부</th>
            </tr>
            {% for post in page_obj %}
            <tr align='center'>
                <td>{{ post.college }}</td>
                <td>{{ post.credit }}</td>
                <td>{{ post.grade_average }}</td>
                <td>{{ post.apply_semester }}</td>
                <td>{{ post.away_university }}</td>
                <td>{{ post.pass_fail }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <table>
            <tr align='center'>
                <th width='150'>단과대학</th>
                <th width='150'>이수학점</th>
                <th width='150'>평점평균</th>
                <th width='150'>지원시기</th>
                <th width='150'>지원학교</th>
                <th width='150'>합격여부</th>
            </tr>
        </table>
        <div class='text-center m-5'>
            <h5>등록된 정보가 없습니다</h5>
            <h6>첫 번째로 정보를 등록해주세요!</h6>
        </div>
        {% endif %}
        <div style="text-align:center">
            <div class="pagination">
                <div style="width:35%; margin: 5px;">
                    {% if page_obj.has_previous %}
                    <a class="abutton" href="?page=1">맨 앞으로</a>
                    <a class="abutton" href="?page={{ bpage_obj.previous_page_number }}">이전</a>
                    {% endif %}
                </div>
                <div style="width:30%; margin: 5px;">
                    {% for page in page_obj.paginator.page_range %}
                        {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                            <span class="{% if page == page_obj.number %}current{% endif %}">
                                <a href="?page={{ page }}" {% if page == page_obj.number %}style="font-weight: bold;"{%endif%}>{{ page}}</a>
                                
                            </span>
                        {% elif page >= page_obj.number|add:-3 and page <= page_obj.number|add:3 %}
                            <span>..</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div style="width:35%; margin: 5px;">
                    {% if page_obj.has_next %}
                        <a class="abutton" href="?page={{ page_obj.next_page_number }}">다음</a>
                        <a class="abutton" href="?page={{ page_obj.paginator.num_pages }}">맨 뒤로</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra %}
    <script>
        const canIpost= (is_authenticated, is_enrolled)=> {
            if (is_authenticated == 'False') {
                alert('로그인이 필요한 서비스입니다.');
                window.location.href='{% url "login:login" %}';
            }else{
                if(is_enrolled == 'False'){
                    alert('해당 학교 학생만 이용할 수 있는 서비스입니다.');
                }else{
                    window.location.href=`create`; 
                }
            }
        };
    </script>
    {% if certificate_error %}
        <script>
            alert('해당 학교 학생만 이용할 수 있는 서비스입니다.');
        </script>
    {% endif %}
{% endblock %}