{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-evenly ">
    <div class="m-5 border border-dark rounded d-flex flex-column justify-content-center" style="width:200px; height:150px;">
        <ul>
            <li><a href="{% url 'domestic:sister_list' %}">자매 결연 대학</a></li>
            <li><a href="{% url 'domestic:wiki' %}">위키</a></li>
            <li><a href="{% url 'domestic:question_list' %}">QnA</a></li>
            <li><a href="{% url 'domestic:credit_list' %}">파견교별 학점컷</a></li>
        </ul>
    </div>
    <div>
        <div class="d-flex justify-content-between ">
            <div class="d-flex align-items-center ">
                <h1>(학교 이름 자리){{question.home_university}}</h1>
                <span>QnA</span>
            </div>
            <button class="btn btn-sm btn-border" onclick="location.href='{% url "question:question_create" %}'"> 글쓰기 </button>
        </div>
        <hr>
        <table>
            <tr align='center'>
                <th width='50'>번호</th>
                <th width='600' >제목</th>
                <th>날짜</th>
            </tr>
            {%for question in questions %}
            <tr>
                <td class="numbered" align='center'></td>
                <td><a href="{% url 'question:question_detail' question.pk%}">{{ question.question_title }}</a></td>
                <td>{{ question.created_at}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block extra %}
<script>
    function numbering(startnum){
        var init = startnum;
        var td_list = document.querySelectorAll(`.numbered`);
        for(var i=0; i<td_list.length; i++){
            init++;
            td_list[i].innerHTML= `${init}`;
        }
    }
    numbering(0);
</script>

{% endblock %}
