{% extends "domestic/domestic_base.html" %}
{% block contents %}
    <div class="container2 category-detail">
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex align-items-center ">
                <h3>{{ domestic.home_name }}</h3>
            </div>
            <button class="light-button create-btn md-btn" onclick="location.href='{% url "domestic:question_list" domestic.pk %}'"> 목록보기 </button>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span class="post-title">{{ question.question_title }}</span>
            <div class="d-flex justify-content-end">
                {% if question.author.pk == user.pk %}
                <button class="light-button create-btn m-btn " onclick="location.href='{% url "domestic:question_edit" domestic.pk question.pk %}'"> 수정 </button>
                <form action="{% url "domestic:question_delete" domestic.pk question.pk %}" method="post" >
                    {% csrf_token %}
                    <button class="light-button create-btn m-btn post-button" onclick="return confirm('정말 삭제하시겠습니까?')" type="submit" >삭제</button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="d-flex justify-content-start">
            <span class="post-author">{{ question.author.nickname}}</span> 
            <span class="post-date">{{ question.created_at|date:"Y.m.d" }}</span>
        </div>
        <p class="post-content">{{ question.question_content }}</p>
        <hr class="post-hr">
        <div>
            <div class="post_{{question.id}}">
                {%for comment in comments %}
                <div class="comment_{{comment.id}} comment-container">
                    <div class=" d-flex justify-content-between">
                        <div>
                            <span class="post-author">{{ comment.comment_author.nickname }}</span>
                            <span class="comment-date">{{ comment.created_at|date:"Y.m.d" }} </span>
                        </div>
                        <div>
                            {% if request.user == comment.comment_author %}
                            <button class="light-button create-btn s-btn update " onclick="EditComment('{{ comment.id }}' ,'{{ comment.comment_content }}')">수정</button>
                            <button class="light-button create-btn s-btn post-button delete " onclick="onClickDelete('{{ comment.id }}' )">삭제</button>
                            {%endif%}
                            <button class="light-button create-btn s-btn post-button" id='undercomment' onclick="undercommentPlus('{{ comment.id }}')">댓글</button><br/>
                        </div>
                    </div>
                    <span class="comment-content">{{ comment.comment_content }}</span>
                </div>
                <div class="undercomment-container">
                    <div class="undercomment_list_{{ comment.pk }}">
                        {% for undercomment in undercomments  %}
                            {% if undercomment.comment == comment %}
                            <div class="d-flex justify-content-between" id="undercomment_{{ undercomment.pk }}">
                                <div>
                                    <span class="post-author">👉 {{ undercomment.comment_author.nickname }}</span>
                                    <span class="comment-content" style="margin-left: 30px;">{{ undercomment.comment_content }}</span>
                                </div>
                                {% if undercomment.comment_author == request.user %}
                                <div>
                                    <button class="light-button create-btn s-btn" onclick="editUnderComment('{{ comment.pk }}', '{{ undercomment.pk }}','{{ undercomment.comment_content }}')">수정</button>
                                    <button class="light-button create-btn s-btn post-button" onclick="onClickDeleteUnder('{{ undercomment.pk }}')">삭제</button>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="undercomment_{{ comment.pk }}"></div>
                </div>
                {% endfor %}
                </div>
                <form class="new-comment" action="./comment_create/" method="POST">
                
                    <input class="new-comment-input" type="text" name="comment_content" id="comment_{{ question.pk }}" placeholder='댓글달기...' style="width: 80%;"/>
                    <div class="blue-button create-btn s-btn post-button submit" onclick="onClickComment('{{ user.is_authenticated }}', '{{ question.pk }}', document.querySelector('#comment_{{ question.pk }}').value )">
                        등록
                    </div>
                </form>
                </div>
        </div>
{% endblock %}

{% block extra %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const onClickComment= async(is_authenticated, question_id, comment_content) => {  
        if (is_authenticated == 'False') {
            alert('로그인이 필요한 서비스입니다.');
            window.location.href='{% url "login:login" %}';
        }else{
        const url = './comment_create/';
        const res= await fetch(url,{        
            method: 'POST',
            headers:{
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: JSON.stringify({ is_authenticated:is_authenticated, question_id:question_id, comment_content:comment_content})
        }); 
    
        const {question_id:id, comment_content:content, comment_id:c_id}= await res.json();        
        commentHandleResponse(id, content, c_id);
    }
    };

    const commentHandleResponse=(question_id, comment_content, comment_id) => {
        const element=document.querySelector(`.post_${question_id}`)
        element.innerHTML += `
        <div class="comment_{{comment.id}} comment-container">
            <div class=" d-flex justify-content-between">
                <div>
                    <span class="post-author">{{request.user.nickname}}</span>
                    <span class="comment-date">{{ comment.created_at|date:"Y.m.d" }} </span>
                </div>
                <div>
                    <button class="light-button create-btn s-btn update " onclick="EditComment('${comment_id}', '${comment_content}')">수정</button>
                    <button class="light-button create-btn s-btn delete post-button" onclick="onClickDelete('${comment_id}')">삭제</button>
                    <button class="light-button create-btn s-btn post-button" id='undercomment' onclick="undercommentPlus('${comment_id}')">댓글</button><br/>
                </div>
            </div>
        </div>
        <span class="comment-content">${comment_content}</span>
        <div class="undercomment-container">
            <div class="undercomment_list_${comment_id}"></div>
            <div class="undercomment_${comment_id}"></div>
        </div>
        
        `
        const input_content = document.querySelector(`#comment_${question_id}`)
        input_content.value = null
    }
    
    //댓글 수정
    const EditComment = (comment_id,comment_content)=>{
        const element = document.querySelector(`.comment_${comment_id}`);
        element.innerHTML = ` 
        <span class="post-author">{{request.user.nickname}}</span>
            <input type="text" id="edit_comment" value=${comment_content} class="w-75"/>
            <button class="blue-button create-btn s-btn post-button" onclick="onClickUpdate('${comment_id}', document.querySelector('#edit_comment').value)">저장</button>
            `

    }
    const onClickUpdate= async(comment_id,comment_content) => { 
        const allowance =  confirm('수정하시겠습니까?'); 
        if (allowance == true) {
        const url = './comment_update/';
        const res= await fetch(url,{        
            method: 'POST',
            headers:{
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: JSON.stringify({comment_id:comment_id, comment_content:comment_content})
        }); 
        const {comment_id:id, comment_content:content, nickname:nickname} = await res.json();        
        UpdateHandleResponse(id,content,nickname);
    };
    };

    const UpdateHandleResponse = (comment_id,comment_content,nickname)=>{
        const element = document.querySelector(`.comment_${comment_id}`)
        element.innerHTML = `
        <span class="post-author">${nickname}</span>
        <span class="comment-content">${comment_content}</span>
        <div>
            <button class="light-button create-btn s-btn update " onclick="EditComment(${comment_id} ,'${comment_content}')">수정</button>
            <button class="light-button create-btn s-btn post-button delete " onclick="onClickDelete(${comment_id} )">삭제</button>
            <button class="light-button create-btn s-btn post-button" id='undercomment' onclick="undercommentPlus('${comment_id}')">댓글</button><br/>
        </div>
        `
    }


    //댓글 삭제
    const onClickDelete= async(comment_id) => { 
        const allowance =  confirm('정말로 삭제하시겠습니까?'); 
        if (allowance == true) {
        const url = './comment_delete/';
        const res= await fetch(url,{        
            method: 'POST',
            headers:{
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: JSON.stringify({comment_id:comment_id})
        }); 
        const {comment_id:id} = await res.json();       
        deleteHandleResponse(id);
    };
    };

    const deleteHandleResponse = (comment_id)=>{
        const undercomment = document.querySelector(`.undercomment_list_${comment_id}`);
        undercomment.innerHTML = '';
        const element = document.querySelector(`.comment_${comment_id}`)
        element.innerHTML='';
        
    }

  //대댓글 생성

    const undercommentPlus = (comment_id) => {
        const element = document.querySelector(`.undercomment_${comment_id}`);
        element.innerHTML = `
            <input type="text" id="new-undercomment" placeholder="댓글을 입력해주세요." class="w-75"/>
            <button class="blue-button create-btn s-btn post-button" onclick="onClickUnderComment('{{is_authenticated}}', ${comment_id}, document.querySelector('#new-undercomment').value)">저장</button>
        `
        }
        
    const onClickUnderComment= async(is_authenticated, comment_id, comment_content) => { 
        if (is_authenticated == 'False') {
                alert('로그인이 필요한 서비스입니다.');
                window.location.href='{% url "login:login" %}';
        } else {
        const url = './undercomment_create/';
        const {data} = await axios.post(url, {
            comment_id,
            comment_content,
        });
        underCommentHandleResponse(data.comment_id, data.undercomment_id, data.undercomment_author, data.undercomment_content);
        }
    };
        const underCommentHandleResponse = (comment_id, undercomment_id, undercomment_author, undercomment_content) => {
                const element = document.querySelector(`.undercomment_list_${comment_id}`);
                element.innerHTML += `
                <div class="d-flex justify-content-between" id="undercomment_${undercomment_id}">
                        <div>
                        <span>👉 <span class="post-author">${undercomment_author}</span></span>
                        <span class="comment-content">${undercomment_content}</span>
                    </div>
                    <div>
                        <button class="light-button create-btn s-btn" onclick="editUnderComment('${comment_id}', '${undercomment_id}','${undercomment_content}')">수정</button>
                        <button class="light-button create-btn s-btn post-button" onclick="onClickDeleteUnder('${undercomment_id}')">삭제</button>
                    </div>
                </div>
                `
                const input_content = document.querySelector(`.undercomment_${comment_id}`);
                    input_content.innerHTML = '';
            };
            
            //대댓글 수정
    const editUnderComment = (comment_id, undercomment_id, undercomment_content) => {
        
        const element = document.querySelector(`#undercomment_${undercomment_id}`);
        const originHTML = element.innerHTML;
        element.innerHTML = `
        <span class="post-author">{{request.user.nickname}}</span>
        <input type="text" id="edit-undercomment" value=${undercomment_content} class="w-75"/>
        <button class="blue-button create-btn s-btn post-button" onclick="onClickEditUnder('${comment_id}', '${undercomment_id}', document.querySelector('#edit-undercomment').value)">저장</button>
        `
    }

    const onClickEditUnder= async(comment_id, undercomment_id, comment_content) => {  
        const url = './undercomment_update/';
        const {data} = await axios.post(url, {
            comment_id,
            undercomment_id,
            comment_content,
        });
        underEditHandleResponse(data.comment_id, data.undercomment_id, data.undercomment_author, data.undercomment_content);
        
    };

    const underEditHandleResponse = (comment_id, undercomment_id, undercomment_author, undercomment_content) => {
        const element = document.querySelector(`#undercomment_${undercomment_id}`);
        element.innerHTML = `
        <div>
            <span>👉 <span class="post-author">${undercomment_author}</span></span>
            <span class="comment-content">${undercomment_content}</span>
        </div>
        <div>
            <button class="light-button create-btn s-btn" onclick="editUnderComment('${comment_id}', '${undercomment_id}','${undercomment_content}')">수정</button>
            <button class="light-button create-btn s-btn post-button" onclick="onClickDeleteUnder('${undercomment_id}')">삭제</button>
        </div>
        `
    };

   // 대댓글 삭제

    const onClickDeleteUnder= async(undercomment_id) => {
        const allowance =  confirm('정말로 삭제하시겠습니까?');
        if (allowance == true) {
            const url = './undercomment_delete/';
        const {data} = await axios.post(url, {
            undercomment_id,
        });
        underDeleteHandleResponse(data.undercomment_id);
        }
    };

    const underDeleteHandleResponse = (undercomment_id) => {
        const element = document.querySelector(`#undercomment_${undercomment_id}`);
        element.innerHTML = ``;
    };
</script>

{% if certificate_error %}
    <script>
        alert('해당 학교 학생만 이용할 수 있는 서비스입니다.');
    </script>
    {% endif %}

    {% if q_verification_error %}
        <script>
            alert("작성자 본인만 글을 수정할 수 있습니다.");
        </script>
    {% endif %}

    {% if c_verification_error %}
        <script>
            alert("작성자 본인만 댓글을 수정할 수 있습니다.");
        </script>
    {% endif %}
{% endblock %}
