{% extends "domestic/domestic_base.html" %}
{% block contents %}
    <div class="container category-detail">
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex align-items-center ">
                <h3>{{ domestic.home_name }}</h3>
            </div>
            <input class="blue-button create-btn md-btn" form="frm" type="submit" value="저장하기">
        </div>
        <hr>
        <form id="frm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p><input name="question_title" placeholder="제목을 입력하세요" required></p>
            <p><textarea name="question_content" placeholder="내용을 입력하세요" required></textarea></p>
        </form>
{% endblock %}
{% block extra %}
<script>
    const canIPost = (is_authenticated, is_enrolled)=> {
        if (is_authenticated == 'False') {
            alert('로그인이 필요한 서비스입니다.');
            window.location.href='{% url "login:login" %}';
        }else{
            if(is_enrolled == 'False'){
                alert('해당 학교 학생만 이용할 수 있는 서비스입니다.');
            }else{
                window.location.href='{% url "domestic:question_create" domestic.pk %}';
            }
        }
    };
</script>
{% endblock %}