{% extends "domestic/domestic_base.html" %}
{% block contents %}
    <div class="container2 category-detail">
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex align-items-center ">
                <h3>{{ domestic.home_name }}</h3>
            </div>
            <button form="frm" type="submit" class="blue-button create-btn md-btn"> 저장하기 </button>
        </div>
        <hr>
        <form  id="frm" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <select name="sister">
                {% for univ in univs %}
                <option>{{ univ.away_name}}</option>
                {% endfor %}
            </select>
        </form>
{% endblock %}