{% extends "domestic/domestic_base.html" %}
{% block contents %}
    <div class="container2 category-detail">
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex align-items-center ">
                <h3>{{ domestic.home_name }}</h3>
            </div>
            <button class="light-button create-btn md-btn" onclick="canIAdd('{{ is_authenticated }}','{{ is_enrolled }}')"> 학교추가 </button>
        </div>
        <hr>
        <div>
        {% if sisters_dict.items %}
            {% for key, val in sisters_dict.items %}
            <ul class="lgroup ">
                <h4 class="lalpha">{{ key }}</h4>
                <div class="lforeign_name ">
                {% for sister in val %}
                    <a href="{% url 'foreign:wiki' sister.pk %}">{{ sister.away_name }}</a>
                {% endfor %}
                </div>
            </ul>
            <br>
            {% endfor %}
        {% else %}
            <div class='text-center m-5'>
                <h5>등록된 정보가 없습니다</h5>
                <h6>첫 번째로 정보를 등록해주세요!</h6>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block extra %}
<script>
    const canIAdd= (is_authenticated, is_enrolled)=> {
        if (is_authenticated == 'False') {
            alert('로그인이 필요한 서비스입니다.');
            window.location.href='{% url "login:login" %}';
        }else{
            if(is_enrolled == 'False'){
                alert('해당 학교 학생만 이용할 수 있는 서비스입니다.');
            }else{
                window.location.href=`add`;            
            }
        }
    };
    
</script>
    {% if certificate_error %}
        <script>
            alert('해당 학교 학생만 이용할 수 있는 서비스입니다.');
        </script>
    {% endif %}
{% endblock %}