{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-evenly ">
    <div class="m-5 border border-dark rounded d-flex flex-column justify-content-center" style="width:200px; height:150px;">
        <ul>
            <li><a href="{% url 'domestic:sister_list' domestic.pk %}">자매 결연 대학</a></li>
            <li><a href="{% url 'domestic:wiki' domestic.pk %}">위키</a></li>
            <li><a href="{% url 'domestic:question_list' domestic.pk %}">QnA</a></li>
            <li><a href="{% url 'domestic:credit_list' domestic.pk %}">파견교별 학점컷</a></li>
        </ul>
    </div>
    <div style="width:750px;">
        <div class="d-flex justify-content-between ">
            <div class="d-flex align-items-center ">
                <h1>{{ domestic.home_name }}</h1>
                <span>자매 결연 대학</span>
            </div>
            <button class="btn btn-sm btn-border" onclick="canIAdd('{{ is_authenticated }}','{{ is_enrolled }}')"> 학교 추가 </button>
        </div>
        <hr>
        {% if sisters_dict.items %}
            {% for key, val in sisters_dict.items %}
            <ul>
                <h3>{{ key }}</h3>
                {% for sister in val %}
                    <a href="{% url 'foreign:wiki' sister.pk %}">{{ sister.away_name }}</a>
                {% endfor %}
            </ul>
            {% endfor %}
        {% else %}
            <div class='text-center m-5'>
                <h5>등록된 정보가 없습니다</h5>
                <h6>첫 번째로 정보를 등록해주세요!</h6>
            </div>
        {% endif %}
    </div>
</div>
<script>
    const canIAdd= (is_authenticated, is_enrolled)=> {
        if (is_authenticated == 'False') {
            alert('로그인이 필요한 서비스입니다.');
            window.location.href='{% url "login:login" %}';
        }else{
            if(is_enrolled == 'False'){
                alert('해당 학교 학생만 이용할 수 있는 서비스입니다.');
            }else{
                window.location.href=`add`;            
            }
        }
    };
    
</script>
    {% if certificate_error %}
        <script>
            alert('해당 학교 학생만 이용할 수 있는 서비스입니다.');
        </script>
    {% endif %}
{% endblock %}