{% extends "base.html" %}
{% block content %}
<div class="lbody d-flex flex-column">
    <div class="container">
        <div class="lbar d-flex align-items-center">
            <div class="cho_list lforeign_list d-flex justify-content-around text-center ">
            {% for key, val in universities_dict.items %}
                <a id="{{ key }}" href="#{{ key }}" class="cho">{{ key }}</a>
            {% endfor %}
            </div>
        </div>
        <div>
            {% for key, val in universities_dict.items %}
            <div class="lgroup ">
                <h3 id="{{ key }}" class="lalpha">{{ key }}</h3>
                <div class="lforeign_name ">
                {% for university in val %}
                    <a href="{% url 'domestic:wiki' university.pk %}">{{university.home_name}}</a>
                {% endfor %}
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block extra %}
<script>
function list(){
    var cho_list = document.querySelector('.cho_list');
    var exist = document.querySelectorAll(`.cho`);
    const compare = ['ㄱ','ㄴ','ㄷ','ㄹ','ㅁ','ㅂ','ㅅ','ㅇ','ㅈ','ㅊ','ㅋ','ㅌ','ㅍ','ㅎ'];
    var j_value=0;
    var j=0;
    for( i=0; i<compare.length; i++ ){
        for( j=j_value; j<exist.length; j++ ){
            if(exist[j].innerHTML.charCodeAt(0)>compare[i].charCodeAt(0)){
                var newSpan = document.createElement('span');
                newSpan.textContent = compare[i];
                cho_list.insertBefore(newSpan, exist[j]);
                break;
            }else if(exist[j].innerHTML.charCodeAt(0)==compare[i].charCodeAt(0)){
                j_value++;
                break;
            }else{
                j_value++;
            };
        };
    };
};
list();
</script>
{% endblock %}