{% extends "domestic/domestic_base.html" %}
{% block contents %}
        <div class="d-flex justify-content-between ">
            <div class="d-flex align-items-center ">
                <h1>{{ domestic.home_name }}</h1>
            </div>
        </div>
        <hr>
        <form action="" method="POST" enctype="multipart/form-data" class="table">
            {% csrf_token %}
            {% for field in form %}
            {% if btn == forloop.counter%}
            {%if field.name == 'home_apply'%} <p>1.지원 방법</p>  {%endif%}
            {%if field.name == 'home_document'%}<p>2.필요 서류</p>   {%endif%}
            {%if field.name == 'semester'%} <p>3.수학 가능 학기</p>  {%endif%}
            {%if field.name == 'home_scholarship'%} <p> 4.교내 장학금 정보</p> {%endif%}
            {%if field.name == 'insurance'%} <p>5.유학생 보험 준비</p> {%endif%}
            
            <div class="form-group">
                <textarea type="{{ field.field.widget.textarea_type }}" class="form-control"
                    id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" 	cols = "100" rows="20" >{{field.value}}</textarea>
            </div>
            <input type="submit" value="저장하기" onclick="onClickEditWiki()"/>
            {% else %}
            <div class="form-group">
                <textarea type="{{ field.field.widget.textarea_type }}" class="form-control "
                    id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" readonly style="display:none" cols = "100" rows="20" >{{field.value}}</textarea>
            </div>
            {%endif%}
            {% endfor %}
        </form>
{% endblock %}
{% block extra %}
<script>
    const onClickEditWiki= () => {  
        alert('위키 수정이 완료되었습니다');
        window.location.href='{% url "domestic:wiki" domestic.pk%}';
    };
</script>
{% endblock %}