{% extends "domestic/domestic_base.html" %}
{% block contents %}

    <div class="container2 category-detail ">
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex align-items-center ">
                <h3>{{ domestic.home_name }}</h3>
            </div>
        </div>
        <hr>
        <div class="wiki__content">
            <div id="domestic_1" class="wiki__li"><a name="domestic_1"></a>
                <div class="wiki__li-title">
                    <h4>1. 지원 방법</h4>
                    <button class="light-button m-btn" onclick="canIEdit('{{ is_authenticated }}','{{ is_enrolled }}','home_apply')"> 수정 </button>                              
                </div>
                <pre>{{ domestic.home_apply }}</pre>
            </div>
            <div id="domestic_2" class="wiki__li">
                <div class="wiki__li-title">
                    <h4>2. 필요 서류</h4>
                    <button class="light-button m-btn" onclick="canIEdit('{{ is_authenticated }}','{{ is_enrolled }}','home_document')"> 수정 </button>                              
                </div>
                <pre>{{ domestic.home_document }}</pre>
            </div>
            <div id="domestic_3" class="wiki__li">
                <div class="wiki__li-title">
                    <h4>3. 수학 가능 학기</h4>
                    <button class="light-button m-btn" onclick="canIEdit('{{ is_authenticated }}','{{ is_enrolled }}','semester')"> 수정 </button>                              
                </div>
                <pre>{{ domestic.semester }}</pre>
            </div>
            <div id="domestic_4" class="wiki__li">
                <div class="wiki__li-title">
                    <h4>4. 교내 장학금 정보</h4>
                    <button class="light-button m-btn" onclick="canIEdit('{{ is_authenticated }}','{{ is_enrolled }}','home_scholarship')"> 수정 </button>                              
                </div>
                <pre>{{ domestic.home_scholarship }}</pre>
            </div>
            <div id="domestic_5" class="wiki__li">
                <div class="wiki__li-title">
                    <h4>5. 유학생 보험 준비</h4>
                    <button class="light-button m-btn" onclick="canIEdit('{{ is_authenticated }}','{{ is_enrolled }}','insurance')"> 수정 </button>                              
                </div>
                <pre>{{ domestic.insurance }}</pre>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block extra %}
<script>
    const canIEdit= (is_authenticated, is_enrolled, str)=> {
        if (is_authenticated == 'False') {
            alert('로그인이 필요한 서비스입니다.');
            window.location.href='{% url "login:login" %}';
        }else{
            if(is_enrolled == 'False'){
                alert('해당 학교 학생만 이용할 수 있는 서비스입니다.');
            }else{
                window.location.href=`${str}`; 
            }
        }
    };
</script>
    {% if certificate_error %}
        <script>
            alert("해당 학생만 이용할 수 있는 서비스입니다.");
        </script>
    {% endif %}
{% endblock %}
