{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-evenly ">
    <div class="m-5 border border-dark rounded d-flex flex-column justify-content-center" style="width:200px; height:150px;">
        <ul>
            <li><a href="{% url 'domestic:sister_list' univ.pk %}">자매 결연 대학</a></li>
            <li><a href="{% url 'domestic:wiki' univ.pk %}">위키</a></li>
            <li><a href="{% url 'domestic:question_list' univ.pk %}">QnA</a></li>
            <li><a href="{% url 'domestic:credit_list' univ.pk %}">파견교별 학점컷</a></li>
        </ul>
    </div>
    <div style="width:750px;">
        <div class="d-flex justify-content-between ">
            <div class="d-flex align-items-center ">
                <h1>{{ univ.home_name }}</h1>
                <span>Wiki</span>
            </div>
        </div>
        <hr>
        <form action="" method="POST" enctype="multipart/form-data" class="table">
            {% csrf_token %}
            {% for field in form %}

            {%if field.name == 'home_apply'%} <p>1.지원 방법</p>  {%endif%}
            {%if field.name == 'home_document'%}<p>2.필요 서류</p>   {%endif%}
            {%if field.name == 'semester'%} <p>3.수학 가능 학기</p>  {%endif%}
            {%if field.name == 'home_scholarship'%} <p> 4.교내 장학금 정보</p> {%endif%}
            {%if field.name == 'insurance'%} <p>5.유학생 보험 준비</p> {%endif%}
            
            {% if btn == forloop.counter%}
            <div class="form-group">
                <textarea type="{{ field.field.widget.textarea_type }}" class="form-control"
                    id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" 	cols = "100" rows="20" >{{field.value}}</textarea>
            </div>
            <input type="submit" value="저장하기" />
            {% else %}
            <div class="form-group">
                <textarea type="{{ field.field.widget.textarea_type }}" class="form-control "
                    id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" readonly cols = "100" rows="20" >{{field.value}}</textarea>
            </div>
            {%endif%}
            {% endfor %}
        </form>
    </div>

</div>
        
{% endblock %}