{% extends 'base.html' %}

{% block content %}
<div class="container ml-5 mt-4">
    <h3>로그인</h3>
    <hr />
    <div class="d-flex justify-content-center">
        <form method="POST">
            {% csrf_token %}
            아이디:
            <br />
            <input name="username" type="text" required/>
            <br />
            비밀번호:
            <br />
            <input name="password" type="password" required/>
            <br />
            {% if login_error %}
                <div class="mt-1">
                    <span>아이디 혹은 비밀번호를 확인해주세요.</span>
                </div>
            {% endif %}
            <input class="btn btn-primary mt-2" type="submit" value="로그인" />
            <a href="{% url 'login:reset_password' %}">비밀번호 재설정</a>
        </form>
    </div>
</div>
{% endblock %}