{% extends 'base.html' %}


{% block content %}
<div class="d-flex flex-column align-items-center container login" style="height: 800px;">
    <h3>로그인</h3>
    <br />
    <hr />
    <form method="POST">
        {% csrf_token %}
        <input class="login-input" name="username" type="text" placeholder="아이디" required/>
        <br/>
        <input class="login-input" name="password" type="password" placeholder="비밀번호" required/>
        <br />
        <div class="reset-password">
            <a href="{% url 'login:reset_password' %}" class="reset-button">비밀번호 재설정</a>
        </div>
        <input class="login-btn blue-button" type="submit" value="로그인" />
        
    </form>
</div>
{% endblock %}

{% block extra %}
    {% if login_error %}
        <script>alert("아이디 혹은 비밀번호를 확인해주세요.")</script>
    {% endif %}
{% endblock %}