{% extends 'base.html' %}

{% block content %}
<div class="container ml-5 mt-4">
    <h3>로그인</h3>
    <hr />
    <div class="d-flex justify-content-center">
        <form method="POST">
            {% csrf_token %}
            Username:
            <br>
            <input name="username" type="text" />
            <br>
            Password:
            <br>
            <input name="password" type="password" />
            <br><br>
            <input class="btn btn-primary" type="submit" value="로그인" />
        </form>
    </div>
</div>
{% endblock %}