{% extends 'base.html' %}

{% block content %}
<main class="main__img d-flex flex-column justify-content-center">
    <div class="text main-title righteous">
        UNI<br>
        CONNECT
    </div>
    <p class="text main-con">
        인생의 한 번 뿐인 교환학생,<br>
        하지만 준비 없이는 마음이 불안하고 몸이 고생하죠.<br>
        유니 커넥트에서 필요한 정보들을 찾아보고 경험을 공유하세요.
    </p>
    <p class="text main-sub">“학교를 잇다, 하나로 잇다”</p>
</main>

<section class="main__intro d-flex align-items-center justify-content-center">
    <div class="quotation-mark righteous">"</div>
    <div class="text">
        세상 제일 멋지고 귀여운<br>
        유니커넥트 팀원들을 소개합니다~!
    </div>
    <div class="quotation-mark righteous">"</div>
</section>

<section class="main__team d-flex flex-column align-items-center justify-content-center">
    <div class="righteous team-title">Team</div>
    <div class="profile-set d-flex justify-content-between">
        <div class="profile-card pc-space d-flex align-items-center">
            <img class="p-img" src="/static/css/img/profile_img_1.png" alt="민지프로필">
            <div class="p-text">
                <p class="p-position">대장</p>
                <p class="p-name">곽민지</p>
                <div class="p-border"></div>
                <p class="p-content">많이 부족한 코린이 팀장 👻<br>
                    교환학생 경험을 바탕으로 열심히 만들었습니다.</p>
            </div>
        </div>
        <div class="profile-card pc-space d-flex align-items-center">
            <img class="p-img" src="/static/css/img/profile_img_2.png" alt="민지프로필">
            <div class="p-text">
                <p class="p-position">엇 잠시만..</p>
                <p class="p-name">김경린</p>
                <div class="p-border"></div>
                <p class="p-content">유니커넥트에서 '엇..잠시만..'를 맡고 있습니다 😁<br>
                    뚝딱뚝딱하다 보니 이렇게 멋지게 완성되었네요.</p>
            </div>
        </div>
        <div class="profile-card d-flex align-items-center">
            <img class="p-img" src="/static/css/img/profile_img_3.png" alt="민지프로필">
            <div class="p-text">
                <p class="p-position">멋쟁이</p>
                <p class="p-name">양정연</p>
                <div class="p-border"></div>
                <p class="p-content">코딩 배우러 들어온 동아리에서 디자인하기~🤪<br>
                    좋은 팀원들 만나 호강하고 갑니다!</p>
            </div>
        </div>
        <div class="profile-card d-flex align-items-center">
            <img class="p-img" src="/static/css/img/profile_img_4.png" alt="민지프로필">
            <div class="p-text">
                <p class="p-position">막내</p>
                <p class="p-name">김지민</p>
                <div class="p-border"></div>
                <p class="p-content">안녕하세요 김지민입니다<br>
                    좋은 팀원들과 함께 열심히 만들었습니다</p>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}