{% extends 'base.html' %}

{% block content %}
    <div class="container ml-5 mt-4 w-75">
        <h2>내 정보 수정</h2>
        <hr />
        <div class="d-flex flex-column">
            <div id="rename">
                <span>닉네임 :</span>
                <input id="nickname" type="text" value="{{ user.nickname }}">
                <button class="btn btn-sm btn-primary" onclick="onClickNickname(document.getElementById('nickname').value)">닉네임 수정</button>
            </div>
            <br />
            <div id="repassword">
                <h5>비밀번호 변경</h5>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mt-2">
                        <span>기존 비밀번호 :</span>
                        <input name="origin_password" type="password" />
                    </div>
                    <div class="mt-2">
                        <span>새로운 비밀번호 :</span>
                        <input name="password1" type="password" />
                    </div>
                    <div class="mt-2">
                        <span>비밀번호 확인 :</span>
                        <input name="password2" type="password" />
                    </div>
                    <input class="mt-2 btn btn-primary btn-sm" type="submit" value="비밀번호 변경" />
                </form>
            </div>
            <br />
            <div id="school-certificate">
                <span>학교 인증 : </span>
                {% if user.school_certificate == 0 %}
                <span>학교 인증이 필요합니다.</span>
                <a class="btn btn-sm btn-primary" href="{% url 'login:certificate' %}">학교 인증하러 가기</a>
                {% else %}
                <span>학교 인증이 완료되었습니다!</span>
                <br />
                <span>소속 대학 : {{ user.university }}</span>
                {% endif %}
            </div>
        </div>
        
    </div>
{% endblock %}

{% block extra %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // 닉네임 변경 ajax
        const onClickNickname = async(nickname) => {
            const url = '/rename/';
            const {data} = await axios.post(url, {
                nickname
            });
            nicknameHandleResponse(data.nickname);
            alert('닉네임 수정이 완료되었습니다!');
        };

        const nicknameHandleResponse = (nickname) => {
            const element = document.querySelector('#nickname');
            const originHTML = element.innerHTML;
            
            element.innerHTML = '<input name="nickname" type="text" value="{{ user.nickname }}">'
        };

        
    </script>
{% endblock %}