{% extends 'base.html' %}

{% block content %}
    <div class="container login" style="height: 900px;">
        <h3>마이페이지</h3>
        <br />
        <hr />
        <section class="d-flex flex-column mypage">
            <div id="rename">
                <h5>닉네임 변경</h5>
                <div class="mt-2">
                    <span class="mypage-title">닉네임</span>
                    <input id="nickname" type="text" value="{{ user.nickname }}">
                    <button class="blue-button mypage-btn" onclick="onClickNickname(document.getElementById('nickname').value)" style="margin-left: 8px;">수정하기</button>
                </div>
            </div>
            <div id="repassword">
                <h5>비밀번호 변경</h5>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mt-2">
                        <span class="mypage-title">기존 비밀번호</span>
                        <input name="origin_password" type="password" class="mypage-input"/>
                    </div>
                    <div class="mt-2">
                        <span class="mypage-title">변경 비밀번호</span>
                        <input name="password1" type="password" class="mypage-input"/>
                    </div>
                    <div class="mt-2">
                        <span class="mypage-title">비밀번호 확인</span>
                        <input name="password2" type="password" class="mypage-input" />
                    </div>
                    <input class="blue-button mypage-btn change-btn" type="submit" value="변경하기" />
                </form>
            </div>
            <div id="school-certificate">
                <h5>학교 인증</h5>
                {% if user.school_certificate == 0 %}
                <div class="mypage-school">
                    <span class="mypage-title">학교 인증이 필요합니다.</span>
                    <a class="blue-button mypage-btn2" href="{% url 'login:certificate' %}">인증하기</a>
                </div>
                {% else %}
                <div class="mypage-school">
                    <span class="mypage-title">학교 인증이 완료되었습니다!</span>
                    <br />
                    <p class="mypage-title" style="font-weight: 500; margin-top: 5px;">소속 대학 : {{ user.university }}</p>
                </div>
                {% endif %}
            </div>
            <div class="mypage-list d-flex align-items-center">
                <h5>내가 쓴 질문</h5>
                <a href="{% url 'login:myquestion' %}" class="blue-button mypage-btn3" style="margin-left: 262px;">보러가기</a>
            </div>
            <div class="mypage-list d-flex align-items-center">
                <h5>내가 답변을 남긴 질문</h5>
                <a href="{% url 'login:mycomment' %}" class="blue-button mypage-btn3" style="margin-left: 183px;">보러가기</a>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const requestNickname = new XMLHttpRequest();

        const onClickNickname = (nickname) => {
            const url = '/rename/';
            requestNickname.open('POST', url, true);
            requestNickname.setRequestHeader(
                'Content-Type',
                'application/x-www-form-urlencoded'
            );
            requestNickname.send(JSON.stringify({nickname: nickname}));
        };

        const nicknameHandleResponse = () => {
            if (requestNickname.status < 400) {
                const {nickname} = JSON.parse(requestNickname.response);
                alert('닉네임 수정이 완료되었습니다!')
                const element = document.querySelector('#nickname');
                const originHTML = element.innerHTML;
                    
                element.innerHTML = '<input name="nickname" type="text" value="{{ user.nickname }}">'
            } else {
                alert('이미 사용 중인 닉네임입니다.')
            };
        };

        requestNickname.onreadystatechange = () => {
            if (requestNickname.readyState === XMLHttpRequest.DONE) {
                nicknameHandleResponse();
            };
        };

    //비밀번호 변경시 팝업
    </script>
    {% if message %}
    <script>alert('{{ message }}')</script>  
    {% endif %}
{% endblock %}