{% extends 'base.html' %}

{% block content %}
    <div class="container ml-5 mt-4 w-75">
        <h4>내가 쓴 글 목록</h4>
        <hr />
        <div class="d-flex flex-column">
            <h5>국내대학별</h5>
            <table>
                <tr align='center'>
                    <th width='50'>번호</th>
                    <th width='600' >제목</th>
                    <th>날짜</th>
                </tr>
                {% for question in d_questions %}
                <tr>
                    <td class="numbered1" align='center'></td>
                    <td style="padding-left: 30px;"><a href="{% url 'domestic:question_detail' question.home_university.pk question.pk %}">{{ question.question_title }}</a></td>
                    <td align="center">{{ question.created_at }}</td>
                </tr>
                {% endfor %}
            </table>
            <hr />
            <h5>해외파견교별</h5>
            <table>
                <tr align='center'>
                    <th width='50'>번호</th>
                    <th width='600' >제목</th>
                    <th>날짜</th>
                </tr>
                {% for question in f_questions %}
                <tr>
                    <td class="numbered2" align='center'></td>
                    <td style="padding-left: 30px;"><a href="{% url 'foreign:question_detail' question.away_university.pk question.pk %}">{{ question.question_title }}</a></td>
                    <td align="center">{{ question.created_at }}</td>
                </tr>
                {% endfor %}
            </table>
            <hr />
            <h5>파견국가별</h5>
            <table>
                <tr align='center'>
                    <th width='50'>번호</th>
                    <th width='600' >제목</th>
                    <th>날짜</th>
                </tr>
                {% for question in c_questions %}
                <tr>
                    <td class="numbered3" align='center'></td>
                    <td style="padding-left: 30px;"><a href="{% url 'country:question_detail' question.country.pk question.pk %}">{{ question.question_title }}</a></td>
                    <td align="center">{{ question.created_at }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
{% endblock %}

{% block extra %}
<script>
    function numbering(startnum){
        var init1 = startnum;
        var td_list1 = document.querySelectorAll(`.numbered`);
        for(var i=0; i<td_list1.length; i++){
            init1++;
            td_list1[i].innerHTML= `${init1}`;
        }
    }
    numbering(0);

    function numbering2(startnum){
        var init2 = startnum;
        var td_list2 = document.querySelectorAll(`.numbered2`);
        for(var j=0; j<td_list2.length; j++){
            init2++;
            td_list2[j].innerHTML= `${init2}`;
        }
    }
    numbering2(0);

    function numbering3(startnum){
        var init3 = startnum;
        var td_list3 = document.querySelectorAll(`.numbered3`);
        for(var k=0; k<td_list3.length; k++){
            init3++;
            td_list3[k].innerHTML= `${init3}`;
        }
    }
    numbering3(0);
</script>
{% endblock %}