{% extends 'base.html' %}

{% block content %}
<div class="container ml-5 mt-4">
    <h3>비밀번호 재설정</h3>
    <hr />
    <div class="d-flex justify-content-center">
        <form method="POST">
            {% csrf_token %}
                아이디:
                <br />
                <input name="username" type="text" required/>
                <br />
                이메일:
                <br />
                <input name="email" type="email" required/><br />
                <small>등록하신 이메일로 임시 비밀번호가 발송됩니다.</small>
                <br />
                <input class="btn btn-primary mt-2" type="submit" value="비밀번호 찾기" />
        </form>
    </div>
</div>
{% endblock %}

{% block extra %}
    {% if reset_error %}
        <script>
            alert('{{ reset_error }}');
        </script>
    {% endif %}
{% endblock %}