{% extends 'base.html' %}

{% block style %} 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/login.css' %}"/>
{% endblock %}


{% block content %}
<div class="d-flex flex-column align-items-center container login" style="height: 800px;">
    <h3>비밀번호 재설정</h3>
    <br />
    <hr />
    <form method="POST">
        {% csrf_token %}
            <input class="login-input" name="username" type="text" placeholder="아이디" required/>
            <br />
            <input class="login-input" name="email" type="email" placeholder="이메일" required/><br />
            <div class="reset-password">
                <small class="reset-button">등록하신 이메일로 임시 비밀번호가 발송됩니다.</small>
            </div>
            <input class="login-btn blue-button" type="submit" value="비밀번호 찾기" />
    </form>
</div>
{% endblock %}

{% block extra %}
    {% if reset_error %}
        <script>
            alert('{{ reset_error }}');
        </script>
    {% endif %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2153488758273914"
    crossorigin="anonymous"></script>
{% endblock %}