.containers {
  width: 1040px; /*container로 바꾸기*/
  transform: translate(50%, 0);
  font-size: 15px;
}

.addForeign-top {
  font-size: 32px;
  font-weight: bold;
}
.foreign-name {
  color: var(--m-gray);
  line-height: 35px;
}
.foreign-search {
  width: 935px;
  height: 35px;
  border: none;
}
.foreign-search::placeholder {
  color: black;
}
.addForeign-form {
  color: var(--m-gray);
}

.addForeign-group {
  display: flex;
  justify-content: space-between;
  line-height: 35px;
}
.addForeign-group select {
  width: 935px;
  height: 35px;
  margin-bottom: 20px;
  border: none;
}
.space-between {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.lgbtn-blue {
  width: 74px;
  height: 28px;
  color: var(--bg);
  background-color: var(--blue);
  font-size: 14px;
  border-radius: 21px;
  border: none;
}
