.search-input {
  width: 250px;
  height: 28px;
  border-radius: 14px;
  border: none;
  padding: 9px 0px 9px 12px;
}
.search-button {
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;
  position: absolute;
  margin-top: 5px;
  margin-left: 200px;
}

.post-list hr {
  margin-bottom: 15px;
}

.post-list th {
  font-size: 14px;
  color: var(--m-gray);
  padding-bottom: 22px;
}

.post-list td {
  font-size: 15px;
  padding-bottom: 15px;
  color: var(--d-gray);
}
.post-list td a {
  text-decoration: none;
  color: var(--d-gray);
}
