.post-title,
.post-author,
.post-content,
.comment-content {
  color: var(--d-gray);
}

.post-date,
.comment-date {
  color: var(--m-gray);
}

.new-comment-input,
.new-undercomment-input,
.edit-comment-input {
  padding-left: 14px;
  border-radius: 10px;
  border-style: none;
}

.post-header {
  margin-bottom: 10px;
}
.post-title {
  font-size: 20px;
  font-weight: 500;
}

.post-author {
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

.post-date {
  font-size: 12px;
}

.post-content {
  font-size: 15px;
  margin-top: 26px;
  margin-bottom: 25px;
}

.post-button {
  margin-left: 10px;
}

.comment-container {
  margin-bottom: 20px;
}

.comment-date {
  font-size: 12px;
}

.comment-content {
  font-size: 14px;
  margin-top: 11px;
}

.undercomment-container {
  margin-bottom: 20px;
}

.new-comment-input {
  height: 35px;
}

.edit-comment-input {
  width: 990px;
  height: 35px;
  margin-top: 16px;
}

.new-undercomment-input {
  font-size: 14px;
  height: 34px;
}

.undercomment-container img {
  margin-right: 10px;
  padding-bottom: 4px;
}

.undercomment-container p {
  display: inline;
}

.new-comment {
  margin-bottom: 70px;
}
